@{
    ViewData["Title"] = "Procesos";
    ViewData["home"] = Session["home"];
}
<style>
    .dash-right-side .container {
        max-width: 100%;
    }
</style>
<div class="container container-option" ng-app="Process" ng-controller="controller">
    @{
        if (!string.IsNullOrEmpty(ViewBag.errorMessage))
        {
            <div style="width: 100%;" class="alert-danger">@ViewBag.errorMessage</div>
        }
    }
    <div ng-if="result" style="width: 100%;" class="{{ result.Class }}">{{ result.Message }}</div>
    <form action="" method="post">
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label for="option" style="margin: 0;">Seleccionar opción</label>
            </div>
            <div class="form-group col-sm-8">
                <select ng-model="option" ng-change="setFunction(option)" name="option" ng-disabled="!options" onchange="change(this)">
                    <option value="#">Seleccione una opción...</option>
                    <option ng-repeat="opt in options" value="{{ opt.ID }}">{{ opt.Name }}</option>
                </select>
                <input type="hidden" name="function" value="{{ function }}" />
            </div>
            <div class="form-group col-sm-2">
                <button type="submit" id="btn" class="btn btn-primary" disabled>Cargar opción</button>
            </div>
        </div>
    </form>
    <hr />
    @{
        if (ViewBag.results != "")
        {
            <div>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalClienteAdd">
                    <i class="fas fa-plus"></i> Agregar nuevo
                </button>
                @{
                    if (ViewBag.titleR == "Factura")
                    {
                        <button type="button" class="btn btn-primary" style="margin-left: 15px;" data-toggle="modal" data-target="#modalImportarPlantilla">
                            <i class="fas fa-exchange-alt"></i> Importar Plantilla
                        </button>
                    }
                }
            </div>
            <h2 class="text-center">@ViewBag.titleR</h2>
            <table id="results-table" class="table table-striped table-hover table-bordered table-sm shadow-sm">
                <thead class="thead-dark">
                    <tr>
                        @{
                            foreach (string header in ViewBag.headers.Split(','))
                            {
                                <th style="vertical-align: middle; text-align: center;" scope="col">@header</th>
                            }
                            <th style="vertical-align: middle; text-align: center;" scope="col">Opciones</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var result in ViewBag.resultsTable)
                        {
                            <tr>
                                @{
                                    foreach (string col in ViewBag.cols.Split(','))
                                    {
                                        <td> @result[col]</td>
                                    }
                                    <td class="cell-icons" scope="col">
                                        <div>
                                            @{
                                                string id = result["ID"].ToString();
                                                string fieldsEdit = result["fieldsEdit"].ToString();

                                                if (result["details"] == "True")
                                                {
                                                    <i role="button" ng-click="getDocItems('@id')" class="fas fa-search"></i>
                                                }
                                                if (result["edit"] == "True")
                                                {
                                                    <i role="button" onclick="editRow('@fieldsEdit')" class="fas fa-file-edit"></i>
                                                }
                                                if (result["delete"] == "True")
                                                {
                                                    <i role="button" onclick="deleteRow(this)" class="fas fa-times"></i>
                                                }
                                            }
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div style="height: 40px;"></div>
            <!-- Modal Importar Plantilla Factura -->
            <div class="modal fade" id="modalImportarPlantilla" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <form action="" method="post" id="formFacturaImport" class="modal-content" style="background: #FFF; border-radius: 5px;" onsubmit="return false;">
                        <div class="modal-header">
                            <h5 class="modal-title" style="color: #212529;">Importar Plantilla</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar plantilla..." onkeyup="search('modalImportarPlantilla')" />
                            </div>
                            <table class="table table-bordered table-hover table-striped mt-3" id="results">
                                @{
                                    foreach (var elem in ViewBag.templates)
                                    {
                                        <tr style="cursor: pointer" onclick="selectRow(this)">
                                            <td>@elem.ID</td>
                                            <td>@elem.InvoicePerson.Name</td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" ng-click="">Importar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal Editar Factura -->
            <div class="modal fade" id="modalFacturaEdit" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <form action="" method="post" id="formFacturaEdit" class="modal-content" onsubmit="return false;">
                        <div class="modal-header">
                            <h5 class="modal-title">Editar Documento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>N° Documento</label>
                                    <input type="text" id="idFacturaEdit" style="background: #d5d5d5;" readonly onfocus="this.blur()" ng-model="formEdit.ID" />
                                </div>
                                <div class="col-sm-6">
                                    <label>N° Control</label>
                                    <input type="text" id="controlFacturaEdit" ng-model="formEdit.ControlNumber" />
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top: 30px">
                                <div class="col-sm-4 input-search">
                                    <label>Cliente</label>
                                    <input type="text" id="personFacturaEdit" onfocus="this.blur()" style="max-width: 80%;" ng-model="formEdit.InvoicePerson.ID" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalClients')" data-name="personFacturaEdit"></i>
                                </div>
                                <div class="col-sm-4 input-search">
                                    <label>Vendedor</label>
                                    <input type="text" id="sellerFacturaEdit" onfocus="this.blur()" style="max-width: 80%;" ng-model="formEdit.InvoicePerson.Seller.ID" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalSellers')" data-name="sellerFacturaEdit"></i>
                                </div>
                                <div class="col-sm-4 input-search">
                                    <label>Cond. Pago</label>
                                    <input type="text" id="condFacturaEdit" onfocus="this.blur()" style="max-width: 80%;" ng-model="formEdit.InvoicePerson.Cond.ID" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalConds')" data-name="condFacturaEdit"></i>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top: 30px">
                                <div class="col-sm-3 input-search">
                                    <label>Transporte</label>
                                    <input type="text" id="transFacturaEdit" onfocus="this.blur()" style="max-width: 70%;" ng-model="formEdit.Transport.ID" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalTransports')" data-name="transFacturaEdit"></i>
                                </div>
                                <div class="col-sm-3 input-search">
                                    <label>Moneda</label>
                                    <input type="text" id="monedaFacturaEdit" onfocus="this.blur()" style="max-width: 70%;" ng-model="formEdit.Currency.ID" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalCurrencies')" data-name="monedaFacturaEdit"></i>
                                </div>
                                <div class="col-sm-6">
                                    <label>Monto</label>
                                    <input type="text" id="montoFacturaEdit" style="background: #d5d5d5;" readonly onfocus="this.blur()" ng-model="formEdit.Amount" />
                                </div>
                                <input type="hidden" id="tipoFacturaEdit" value="" ng-model="formEdit.Type" />
                                <input type="hidden" id="dateFacturaEdit" value="" ng-model="formEdit.DateEmis" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" ng-click="editInvoice()">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal Items Documento -->
            <div class="modal fade" id="modalDocumentoItems" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Items de Documento {{ number }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table ng-if="items" class="table table-bordered table-hover table-striped mt-3" id="results">
                                <thead class="thead-dark">
                                    <tr>
                                        <th style="vertical-align: middle; text-align: center;" scope="col">N° Reng</th>
                                        <th style="vertical-align: middle; text-align: center;" scope="col">Código</th>
                                        <th style="vertical-align: middle; text-align: center;" scope="col">Artículo</th>
                                        <th style="vertical-align: middle; text-align: center;" scope="col">Cantidad</th>
                                        <th style="vertical-align: middle; text-align: center;" scope="col">Monto Neto</th>
                                        <th style="vertical-align: middle; text-align: center;" scope="col">IVA</th>
                                        <th style="vertical-align: middle; text-align: center;" scope="col">Total Art.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in items" style="cursor: pointer">
                                        <td>{{ item.Reng }}</td>
                                        <td>{{ item.Code }}</td>
                                        <td>{{ item.Name }}</td>
                                        <td>{{ item.Quantity }}</td>
                                        <td>{{ format(item.Amount.toFixed(2)) }}</td>
                                        <td>{{ format(item.IVA.toFixed(2)) }}</td>
                                        <td>{{ format((item.Amount + item.IVA).toFixed(2)) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p ng-if="!items" style=" margin: 15px 0; text-align: center; font-size: 15px; font-weight: bold;">Cargando items de factura...</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 1 -->
            <div class="modal fade" id="modalClients" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Buscar Cliente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar cliente..." onkeyup="search('modalClients')" />
                            </div>
                            <table class="table table-bordered table-hover table-striped mt-3" id="results">
                                @{
                                    foreach (var elem in ViewBag.clients)
                                    {
                                        <tr style="cursor: pointer" onclick="selectRow(this)">
                                            <td>@elem.ID</td>
                                            <td>@elem.Name</td>
                                        </tr>
                                    }
                                }
                            </table>
                            <input type="hidden" id="name-input" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="saveRow('modalClients')">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 2 -->
            <div class="modal fade" id="modalSellers" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Buscar Vendedor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar vendedor..." onkeyup="search('modalSellers')" />
                            </div>
                            <table class="table table-bordered table-hover table-striped mt-3" id="results">
                                @{
                                    foreach (var elem in ViewBag.sellers)
                                    {
                                        <tr style="cursor: pointer" onclick="selectRow(this)">
                                            <td>@elem.ID</td>
                                            <td>@elem.Name</td>
                                        </tr>
                                    }
                                }
                            </table>
                            <input type="hidden" id="name-input" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="saveRow('modalSellers')">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 3 -->
            <div class="modal fade" id="modalConds" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Buscar Cond. Pago</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar cond. pago..." onkeyup="search('modalConds')" />
                            </div>
                            <table class="table table-bordered table-hover table-striped mt-3" id="results">
                                @{
                                    foreach (var elem in ViewBag.conds)
                                    {
                                        <tr style="cursor: pointer" onclick="selectRow(this)">
                                            <td>@elem.ID</td>
                                            <td>@elem.Name</td>
                                        </tr>
                                    }
                                }
                            </table>
                            <input type="hidden" id="name-input" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="saveRow('modalConds')">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 4 -->
            <div class="modal fade" id="modalTransports" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Buscar Transporte</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar transporte..." onkeyup="search('modalTransports')" />
                            </div>
                            <table class="table table-bordered table-hover table-striped mt-3" id="results">
                                @{
                                    foreach (var elem in ViewBag.transports)
                                    {
                                        <tr style="cursor: pointer" onclick="selectRow(this)">
                                            <td>@elem.ID</td>
                                            <td>@elem.Name</td>
                                        </tr>
                                    }
                                }
                            </table>
                            <input type="hidden" id="name-input" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="saveRow('modalTransports')">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 5 -->
            <div class="modal fade" id="modalCurrencies" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Buscar Moneda</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar moneda..." onkeyup="search('modalCurrencies')" />
                            </div>
                            <table class="table table-bordered table-hover table-striped mt-3" id="results">
                                @{
                                    foreach (var elem in ViewBag.currencies)
                                    {
                                        <tr style="cursor: pointer" onclick="selectRow(this)">
                                            <td>@elem.ID</td>
                                            <td>@elem.Name</td>
                                        </tr>
                                    }
                                }
                            </table>
                            <input type="hidden" id="name-input" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="saveRow('modalCurrencies')">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h3 class="text-center font-weight-bold" style="position: relative; top: 30%;">Sin Resultados</h3>
        }
    }
</div>
<script src="~/Content/angular-min.js"></script>
<script>
    var app = angular.module("Process", []);
    var modals = @Html.Raw(Json.Encode(@ViewBag.modals));
    var documents = @Html.Raw(Json.Encode(@ViewBag.documents));

    function invertDate(date) {

        var parts = date.split("/");
        parts.reverse();

        return parts[0] + "/" + parts[1] + "/" + parts[2];
    }

    app.controller("controller", function ($scope, $http) {

        $scope.option = "#";
        $scope.formEdit = {};

        $http.get("/api/ProfitTMApi/GetOptions/Mod/VENT/Type/P")
            .then(function (response) {

                console.log(response.data);
                $scope.options = response.data.Result;
            });

        $scope.format = (number) => new Intl.NumberFormat().format(number);

        $scope.setFunction = function (id) {

            $scope.function = $scope.options.find(o => o.ID == id).Function;
        }

        $scope.editInvoice = function () {

            if ($("#formFacturaEdit")[0].checkValidity()) {

                var modalEdit = modals.find(m => m.ModalType == "E").Title;

                var value = new Date(Date.parse($("#formFacturaEdit input[id=dateFacturaEdit]").val()));
                var timeOffset = value.getTimezoneOffset() * 60000;

                $(".modal .btn.btn-primary").prop('disabled', 'true');
                $("#formFacturaEdit input, #formFacturaEdit textarea").change();

                $scope.formEdit.DateEmis = new Date(value.getTime() - timeOffset).toUTCString();
                $scope.formEdit.Type = $("#formFacturaEdit input[id=tipoFacturaEdit]").val();

                console.log($scope.formEdit);

                var req = {
                    method: 'POST',
                    url: '/api/ProfitTMApi/EditInvoice/',
                    data: $scope.formEdit,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }

                $http(req).then(function (response) {

                    console.log(response.data);
                    $scope.result = response.data;

                    $("#" + modalEdit).modal("hide");
                    if ($scope.result.Status == "OK") {

                        $scope.result.Class = "alert alert-success";
                        $scope.result.Message = "Documento modificado con éxito";

                        setTimeout(() => location.href = "/Ventas/Procesos/", 2000);

                    } else
                        $scope.result.Class = "alert alert-danger";

                    $(".modal .btn.btn-primary").prop('disabled', '');
                });
            }
        }

        $scope.getDocItems = function (id) {

            $scope.items = null;
            $scope.items = documents.find(i => i.ID == id).Items;
            $scope.number = documents.find(i => i.ID == id).ID;

            $("#modalDocumentoItems").modal("show");
        }
    });

    function change(elem) {

        if (elem.value == "#")
            $("#btn").prop("disabled", "true");
        else
            $("#btn").prop("disabled", "");
    }

    function openModal(elem, modal) {

        var previous = elem.previousElementSibling;

        if (!previous.disabled) {

            $("#" + modal).find("#name-input").val($(elem).data("name"));
            $("#" + modal).modal("show");

        }
    }

    function search(modal) {
        var value = $("#" + modal).find("input[type=text]").val().toLowerCase(),
            table = $("#" + modal).find("#results")[0];

        for (var i = 0; i < table.rows.length; i++) {

            var row = table.rows[i];
            var elems = row.getElementsByTagName("td");

            var val1 = elems[0].innerHTML.toLocaleLowerCase(), val2 = elems[1].innerHTML.toLocaleLowerCase();

            if (!val1.includes(value) && !val2.includes(value))
                row.style.display = "none";
            else
                row.style.display = "";
        }
    }

    function selectRow(elem) {
        var previous = document.getElementsByClassName("selected-row")[0];

        if (previous != null) {
            previous.classList.remove("selected-row");
        }

        elem.classList.add("selected-row");
    }

    function saveRow(modal) {
        var item = document.getElementsByClassName("selected-row")[0];

        if (item != null) {
            var elem = item.children[0],
                value = elem.innerHTML,
                input = $("#" + modal).find("#name-input").val();

            $("#" + input).val(value.trim());
            $(".selected-row")[0].classList.remove("selected-row");
            $("#" + modal).find("input[type=text]").val("");
            $("#" + modal).find("button[name=search-btn]").trigger("click");

            $("#" + modal).modal("hide");
        } else {
            alert("Debes seleccionar un item");
        }
    }

    function editRow(fieldsEdit) {
        
        var fieldsValue = fieldsEdit.split(",");

        for (var item of fieldsValue) {

            var index = item.indexOf("=");

            var idField = item.substring(0, index);
            var valueField = item.substring(index + 1);

            $("#" + idField).val(valueField);
        }

        var modalEdit = modals.find(m => m.ModalType == "E").Title;
        $("#" + modalEdit).modal("show");
    }

    function deleteRow(elem) {
        var cells = $(elem).closest('tr')[0].cells;

        var codigo = cells[0].innerHTML;

        $("#codigoDelete").val(codigo.trim());
        $("#modalClienteDelete").modal("show");
    }

</script>