@{
    ViewBag.Title = "Cliente";
}
<style>
    input[disabled] {
        pointer-events: none;
    }
    .container-clients {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px;
        box-sizing: border-box;
    }
    .container-clients > .row {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .container-clients > .row hr {
        display: none;
    }
    .cont-checks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cont-checks .label-check {
        width: 140px;
    }
    .cont-radios {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .modal-info .fas {
        font-size: 6em;
        padding: 5%;
    }
    tr.active {
        background: #0277bd !important;
    }
    tr.active td {
        color: #FFF !important;
    }
    @@media (max-width: 1199px) {
        .container-clients, .container-clients > .row {
            height: auto !important;
        }
        hr {
            display: block !important;
        }
    }
</style>
<script src="~/Scripts/angular-min.js"></script>
<div class="container-fluid container-clients" id="container-clients" style="display: none;" ng-app="Clients" ng-controller="controller">
    <div class="row">
        <div class="col-md-12 col-xl-3 container-list">
            <input type="text" id="input-clients" class="form-control" placeholder="Buscar cliente..." style="border: solid 1px #ced4da;" onkeyup="searchClient()" />
            <div class="list-table-clients">
                <table class="table table-hover table-striped" id="table-clients">
                    <thead>
                        <tr>
                            <th class="text-white">Código</th>
                            <th class="text-white">Nombre</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="client in clients | limitTo:numberC" ng-class="{ active: clients[index].co_cli == client.co_cli }" ng-click="selectClient(client.co_cli)" style="cursor: pointer;">
                        <td><i class="fas fa-caret-right mx-1" ng-show="clients[index].co_cli == client.co_cli"></i>{{ client.co_cli }}</td>
                        <td>{{ client.cli_des }}</td>
                    </tr>
                </table>
            </div>
            <button type="button" class="btn btn-primary mt-2" ng-click="loadClients()">Cargar más clientes</button>
        </div>
        <hr />
        <form action="" method="post" id="form" class="col-md-12 col-xl-9 container-form" onsubmit="return false;">
            <div class="form-header">
                <h3 class="text-center text-white"><i class="fas fa-user"></i> Cliente</h3>
            </div>
            <div class="form-buttons">
                <div class="row">
                    <div class="col buttons-next-prev" ng-show="!adding && !editing">
                        <button type="button" class="btn btn-primary" ng-click="margin('s')">
                            <i class="fas fa-chevron-double-left"></i>
                        </button>
                        <div style="width: 10px;"></div>
                        <button type="button" class="btn btn-primary" ng-click="prev()">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <div style="width: 10px;"></div>
                        <button type="button" class="btn btn-primary" ng-click="next()">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <div style="width: 10px;"></div>
                        <button type="button" class="btn btn-primary" ng-click="margin('e')">
                            <i class="fas fa-chevron-double-right"></i>
                        </button>
                    </div>
                    <div class="col buttons-save-cancel" ng-show="adding">
                        <button type="button" class="btn btn-danger" ng-click="adding = false; client = clients[index]">
                            <i class="fas fa-times"></i>
                            Cancelar
                        </button>
                        <div style="width: 10px;"></div>
                        <button type="submit" class="btn btn-success" ng-click="addClient()">
                            <i class="fas fa-save"></i>
                            Agregar
                        </button>
                    </div>
                    <div class="col buttons-save-cancel" ng-show="editing">
                        <button type="button" class="btn btn-danger" ng-click="editing = false">
                            <i class="fas fa-times"></i>
                            Cancelar
                        </button>
                        <div style="width: 10px;"></div>
                        <button type="button" class="btn btn-success" ng-click="editClient()">
                            <i class="fas fa-save"></i>
                            Guardar
                        </button>
                    </div>
                    <div class="col buttons-actions justify-content-end" ng-show="!adding && !editing">
                        <button type="button" class="btn btn-primary" ng-click="initAddClient()">
                            <i class="fas fa-plus"></i>
                            Nuevo
                        </button>
                        <div style="width: 10px;"></div>
                        <button type="button" class="btn btn-warning" ng-click="editing = true">
                            <i class="fas fa-file-edit"></i>
                            Modificar
                        </button>
                        <div style="width: 10px;"></div>
                        <button type="button" class="btn btn-danger" onclick="$('#modalDelete').modal('show')">
                            <i class="fas fa-times"></i>
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-tabs">
                <div class="row">
                    <button type="button" id="btn-general" class="col tablinks active" onclick="openTab(event, 'general')">General</button>
                    <button type="button" id="btn-ubicacion" class="col tablinks" onclick="openTab(event, 'ubicacion')">Ubicación</button>
                    <button type="button" id="btn-credito" class="col tablinks" onclick="openTab(event, 'credito')">Crédito y Saldos</button>
                    <button type="button" id="btn-otros" class="col tablinks" onclick="openTab(event, 'otros')">Otros</button>
                    <button type="button" id="btn-adicionales" class="col tablinks" onclick="openTab(event, 'adicionales')">Adicionales</button>
                </div>
            </div>
            <div id="general" class="form-body" style="display: flex;">
                <div class="left">
                    <div class="controls">
                        <label>Código</label>
                        <input type="text" class="form-control" id="id" name="id" ng-model="client.co_cli" ng-disabled="!adding" ng-required="true" />
                    </div>
                    <div class="controls">
                        <label>Nombre</label>
                        <input type="text" class="form-control" id="name" ng-model="client.cli_des" ng-disabled="!adding && !editing" ng-required="true" />
                    </div>
                    <div class="controls">
                        <label>RIF</label>
                        <input type="text" class="form-control" id="rif" ng-model="client.rif" ng-disabled="!adding && !editing" ng-required="true" />
                    </div>
                </div>
                <div class="right">
                    <div class="controls">
                        <label>Tipo</label>
                        <div class="input-search">
                            <input type="text" class="form-control" id="type" onfocus="this.blur()" ng-model="client.tip_cli" ng-disabled="!adding && !editing" ng-required="true" style="flex: 1;" />
                            <input type="text" class="form-control" id="des_type" ng-model="client.saTipoCliente.des_tipo" ng-disabled="!adding && !editing" ng-required="true" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
                            <i class="fas fa-search" role="button" onclick="openModal(this, 'modalTypes')" data-name="type"></i>
                        </div>
                    </div>
                    <div class="controls">
                        <label>Fecha de Registro</label>
                        <input type="date" class="form-control" id="fechaReg" ng-model="client.fecha_reg" ng-disabled="!adding && !editing" />
                    </div>
                    <div class="controls">
                        <label class="label-check"><input type="checkbox" ng-model="client.contrib" ng-disabled="!adding && !editing" /> Contribuyente</label>
                    </div>
                    <div class="controls">
                        <label class="label-check"><input type="checkbox" ng-model="client.inactivo" ng-disabled="!adding && !editing" /> Inactivo</label>
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Segmento</label>
                                <div class="input-search">
                                    <input type="text" class="form-control" id="segment" onfocus="this.blur()" ng-model="client.co_seg" ng-disabled="!adding && !editing" ng-required="true" style="flex: 1;" />
                                    <input type="text" class="form-control" id="des_segment" ng-model="client.saSegmento.seg_des" ng-disabled="!adding && !editing" ng-required="true" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalSegments')" data-name="segment"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Vendedor</label>
                                <div class="input-search">
                                    <input type="text" class="form-control" id="seller" onfocus="this.blur()" ng-model="client.co_ven" ng-disabled="!adding && !editing" ng-required="true" style="flex: 1;" />
                                    <input type="text" class="form-control" id="des_seller" ng-model="client.saVendedor.ven_des" ng-disabled="!adding && !editing" ng-required="true" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalSellers')" data-name="seller"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Cuenta Ingr/Egr</label>
                                <div class="input-search">
                                    <input type="text" class="form-control" id="account" onfocus="this.blur()" ng-model="client.co_cta_ingr_egr" ng-disabled="!adding && !editing" ng-required="true" style="flex: 1;" />
                                    <input type="text" class="form-control" id="des_account" ng-model="client.saCuentaIngEgr.descrip" ng-disabled="!adding && !editing" ng-required="true" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalAccounts')" data-name="account"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Contacto</label>
                                <input type="text" class="form-control" id="respons" ng-model="client.respons" ng-disabled="!adding && !editing" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Teléfono</label>
                                <input type="text" class="form-control" id="phone" ng-model="client.telefonos" ng-disabled="!adding && !editing" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Fax</label>
                                <input type="text" class="form-control" id="fax" ng-model="client.fax" ng-disabled="!adding && !editing" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Email</label>
                                <input type="text" class="form-control" id="email" ng-model="client.email" ng-disabled="!adding && !editing" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Email Alterno</label>
                                <input type="text" class="form-control" id="altEmail" ng-model="client.email_alterno" ng-disabled="!adding && !editing" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ubicacion" class="form-body">
                <div class="left">
                    <div class="controls">
                        <label>País</label>
                        <div class="input-search">
                            <input type="text" class="form-control" id="country" onfocus="this.blur()" ng-model="client.co_pais" ng-disabled="!adding && !editing" ng-required="true" style="flex: 1;" />
                            <input type="text" class="form-control" id="des_country" ng-model="client.saPais.pais_des" ng-disabled="!adding && !editing" ng-required="true" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
                            <i class="fas fa-search" role="button" onclick="openModal(this, 'modalCountries')" data-name="country"></i>
                        </div>
                    </div>
                    <div class="controls">
                        <label>Zona</label>
                        <div class="input-search">
                            <input type="text" class="form-control" id="zone" onfocus="this.blur()" ng-model="client.co_zon" ng-disabled="!adding && !editing" ng-required="true" style="flex: 1;" />
                            <input type="text" class="form-control" id="des_zone" ng-model="client.saZona.zon_des" ng-disabled="!adding && !editing" ng-required="true" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
                            <i class="fas fa-search" role="button" onclick="openModal(this, 'modalZones')" data-name="zone"></i>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="controls">
                        <label>Ciudad</label>
                        <input type="text" class="form-control" id="city" ng-model="client.ciudad" ng-disabled="!adding && !editing" />
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="controls">
                                <label>Dirección</label>
                                <textarea class="form-control" id="address1" ng-model="client.direc1" ng-disabled="!adding && !editing"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="controls">
                                <label>Dirección Entrega</label>
                                <textarea class="form-control" id="delAddress" ng-model="client.dir_ent2" ng-disabled="!adding && !editing"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="credito" class="form-body">
                <div class="left">
                    <div class="controls">
                        <label class="label-check"><input type="checkbox" ng-model="client.sincredito" ng-click="client.mont_cre = 0; client.cond_pag = null" ng-disabled="!adding && !editing" /> Sin Crédito</label>
                    </div>
                    <div class="controls">
                        <label>Cond. Pago</label>
                        <div class="input-search">
                            <input type="text" class="form-control" id="cond" onfocus="this.blur()" ng-model="client.cond_pag" ng-disabled="(!adding && !editing) || client.sincredito" ng-required="!client.SinCred" style="flex: 1;" />
                            <input type="text" class="form-control" id="des_cond" ng-model="client.saCondicionPago.cond_des" ng-disabled="(!adding && !editing) || client.sincredito" ng-required="true" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
                            <i class="fas fa-search" role="button" onclick="openModal(this, 'modalConds')" data-name="cond"></i>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="controls">
                        <label>Límite</label>
                        <input type="text" class="form-control" id="montcre" ng-model="client.mont_cre" ng-disabled="(!adding && !editing) || client.SinCred" />
                    </div>
                    <div class="controls">
                        <button type="button" class="btn btn-primary" disabled>Saldo Actual</button>
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Desc. P. Pago</label>
                                <input type="text" class="form-control" id="descppago" ng-model="client.desc_ppago" ng-disabled="!adding && !editing" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Desc. Glob.</label>
                                <input type="text" class="form-control" id="descglob" ng-model="client.desc_glob" ng-disabled="!adding && !editing" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="text-center mt-3 mb-3">Días de visita</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="controls cont-checks">
                                <label class="label-check"><input type="checkbox" ng-model="client.lunes" ng-disabled="true" /> Lunes</label>
                                <label class="label-check"><input type="checkbox" ng-model="client.martes" ng-disabled="true" /> Martes</label>
                                <label class="label-check"><input type="checkbox" ng-model="client.miercoles" ng-disabled="true" /> Miércoles</label>
                                <label class="label-check"><input type="checkbox" ng-model="client.jueves" ng-disabled="true" /> Jueves</label>
                                <label class="label-check"><input type="checkbox" ng-model="client.viernes" ng-disabled="true" /> Viernes</label>
                                <label class="label-check"><input type="checkbox" ng-model="client.sabado" ng-disabled="true" /> Sábado</label>
                                <label class="label-check"><input type="checkbox" ng-model="client.domingo" ng-disabled="true" /> Domingo</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Horario Caja</label>
                                <input type="text" class="form-control" id="horarcaja" ng-model="client.horar_caja" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Frecuencia</label>
                                <input type="text" class="form-control" id="frecuvist" ng-model="client.frecu_vist" ng-disabled="true" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="controls">
                                <label>Comentario</label>
                                <textarea class="form-control" id="comment" ng-model="client.comentario" ng-disabled="!adding && !editing"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="otros" class="form-body">
                <div class="left">
                    <div class="controls">
                        <label>Tipo de persona</label>
                        <select class="form-control" ng-model="client.tipo_per" ng-disabled="!adding && !editing">
                            <option value="1">(PNR) Persona Natural Residente</option>
                            <option value="2">(PNNR) Persona Natural No Residente</option>
                            <option value="3">(PJD) Persona Jurídica Domiciliada</option>
                            <option value="4">(PJND) Persona Jurídica No Domiciliada</option>
                            <option value="5">Exenta</option>
                            <option value="6">Tesorería Nacional</option>
                            <option value="7">Otros 1</option>
                            <option value="8">Otros 2</option>
                        </select>
                    </div>
                    <div class="controls">
                        <label>Tabulador de I.S.L.R</label>
                        <input type="text" class="form-control" id="tab" ng-model="client.co_tab" ng-disabled="!adding && !editing" />
                    </div>
                    <div class="controls">
                        <button type="button" class="btn btn-primary" disabled>Consulta de R.I.F</button>
                    </div>
                </div>
                <div class="right">
                    <div class="controls d-flex flex-column">
                        <label class="label-check"><input type="checkbox" ng-model="client.contribu_e" ng-change="client.porc_esp = 0" ng-disabled="!adding && !editing" /> Contribuyente Especial</label>
                        <label class="label-check"><input type="checkbox" ng-model="client.rete_regis_doc" ng-disabled="(!adding && !editing) || !client.contribu_e" /> Retener al registrar documento</label>
                    </div>
                    <div class="controls">
                        <label>Retención (%)</label>
                        <input type="text" class="form-control" id="tab" ng-model="client.porc_esp" ng-disabled="(!adding && !editing) || !client.contribu_e" />
                    </div>
                </div>
                <div class="bottom">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="text-center mt-3 mb-3">Clasificación</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="controls cont-radios">
                                <label class="label-radio"><input type="radio" value="1" ng-model="client.tipo_adi" ng-disabled="true" /> Normal</label>
                                <label class="label-radio"><input type="radio" value="2" ng-model="client.tipo_adi" ng-disabled="true" /> Casa Matriz</label>
                                <label class="label-radio"><input type="radio" value="3" ng-model="client.tipo_adi" ng-disabled="true" /> Sucursal</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="controls">
                                <label>Casa Matriz</label>
                                <input type="text" class="form-control" id="matriz" ng-model="client.matriz" ng-disabled="true" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="adicionales" class="form-body">
                <div class="left">
                    <div class="controls">
                        <label>Campo 1</label>
                        <input type="text" class="form-control" ng-model="client.campo1" ng-disabled="!adding && !editing" />
                    </div>
                    <div class="controls">
                        <label>Campo 3</label>
                        <input type="text" class="form-control" ng-model="client.campo3" ng-disabled="!adding && !editing" />
                    </div>
                    <div class="controls">
                        <label>Campo 5</label>
                        <input type="text" class="form-control" ng-model="client.campo5" ng-disabled="!adding && !editing" />
                    </div>
                    <div class="controls">
                        <label>Campo 7</label>
                        <input type="text" class="form-control" ng-model="client.campo7" ng-disabled="!adding && !editing" />
                    </div>
                </div>
                <div class="right">
                    <div class="controls">
                        <label>Campo 2</label>
                        <input type="text" class="form-control" ng-model="client.campo2" ng-disabled="!adding && !editing" />
                    </div>
                    <div class="controls">
                        <label>Campo 4</label>
                        <input type="text" class="form-control" ng-model="client.campo4" ng-disabled="!adding && !editing" />
                    </div>
                    <div class="controls">
                        <label>Campo 6</label>
                        <input type="text" class="form-control" ng-model="client.campo6" ng-disabled="!adding && !editing" />
                    </div>
                    <div class="controls">
                        <label>Campo 8</label>
                        <input type="text" class="form-control" ng-model="client.campo8" ng-disabled="!adding && !editing" />
                    </div>
                </div>
            </div>
            <div class="form-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="controls">
                            <button type="button" class="btn btn-primary" disabled>Imagen</button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="controls">
                            <label class="label-check"><input type="checkbox" disabled />Heredar características al incluir</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Modal Eliminar Cliente -->
    <div class="modal fade modal-info" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px; margin: 0 auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Eliminar Usuario</h3>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: auto; padding: 45px;">
                    <div style="display: flex; justify-content: center;">
                        <i class="fas fa-exclamation-triangle" style="color: var(--bs-yellow)"></i>
                    </div>
                    <h2 class="text-center">¿Desea eliminar el cliente {{ client.co_cli }}?</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="deleteClient(client.co_cli)">Sí</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Waiting -->
    <div class="modal fade modal-info" id="modalWaiting" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px; margin: 0 auto;">
            <div class="modal-content">
                @*<div class="modal-header"></div>*@
                <div class="modal-body" style="max-height: 450px; overflow-y: auto; padding: 45px;">
                    <div style="display: flex; justify-content: center;">
                        <i class="fas fa-spinner fa-spin" style="color: #01579b;"></i>
                    </div>
                    <h2 class="text-center">Procesando...</h2>
                </div>
                @*<div class="modal-footer"></div>*@
            </div>
        </div>
    </div>
    <!-- Modal Success -->
    <div class="modal fade modal-info" id="modalSuccess" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px; margin: 0 auto;">
            <div class="modal-content">
                @*<div class="modal-header"></div>*@
                <div class="modal-body" style="max-height: 450px; overflow-y: auto; padding: 45px;">
                    <div style="display: flex; justify-content: center;">
                        <i class="fas fa-check-circle" style="color: var(--bs-green)"></i>
                    </div>
                    <h2 class="text-center">{{ successMessage }}</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href = '/Ventas/Tablas/Cliente'">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Error -->
    <div class="modal fade modal-info" id="modalError" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px; margin: 0 auto;">
            <div class="modal-content">
                @*<div class="modal-header"></div>*@
                <div class="modal-body" style="max-height: 450px; overflow-y: auto; padding: 45px;">
                    <div style="display: flex; justify-content: center;">
                        <i class="fas fa-exclamation-triangle" style="color: var(--bs-red)"></i>
                    </div>
                    <h2 class="text-center">Ha ocurrido un error</h2>
                    <p class="text-center">{{ errorMessage }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 1 -->
    <div class="modal fade" id="modalTypes" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar Tipo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar tipo..." onkeyup="search('modalTypes')" />
                    </div>
                    <table class="table table-bordered table-hover table-striped mt-3" id="results">
                        @{
                            foreach (var elem in ViewBag.types)
                            {
                                <tr style="cursor: pointer" onclick="selectRow(this)">
                                    <td>@elem.tip_cli</td>
                                    <td>@elem.des_tipo</td>
                                </tr>
                            }
                        }
                    </table>
                    <input type="hidden" id="name-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveRow('modalTypes')">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2 -->
    <div class="modal fade" id="modalZones" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar Zona</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar zona..." onkeyup="search('modalZones')" />
                    </div>
                    <table class="table table-bordered table-hover table-striped mt-3" id="results">
                        @{
                            foreach (var elem in ViewBag.zones)
                            {
                                <tr style="cursor: pointer" onclick="selectRow(this)">
                                    <td>@elem.co_zon</td>
                                    <td>@elem.zon_des</td>
                                </tr>
                            }
                        }
                    </table>
                    <input type="hidden" id="name-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveRow('modalZones')">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3 -->
    <div class="modal fade" id="modalAccounts" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar Cuenta de Ingr/Egr</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar cuenta..." onkeyup="search('modalAccounts')" />
                    </div>
                    <table class="table table-bordered table-hover table-striped mt-3" id="results">
                        @{
                            foreach (var elem in ViewBag.accounts)
                            {
                                <tr style="cursor: pointer" onclick="selectRow(this)">
                                    <td>@elem.co_cta_ingr_egr</td>
                                    <td>@elem.descrip</td>
                                </tr>
                            }
                        }
                    </table>
                    <input type="hidden" id="name-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveRow('modalAccounts')">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 4 -->
    <div class="modal fade" id="modalCountries" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar País</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar pais..." onkeyup="search('modalCountries')" />
                    </div>
                    <table class="table table-bordered table-hover table-striped mt-3" id="results">
                        @{
                            foreach (var elem in ViewBag.countries)
                            {
                                <tr style="cursor: pointer" onclick="selectRow(this)">
                                    <td>@elem.co_pais</td>
                                    <td>@elem.pais_des</td>
                                </tr>
                            }
                        }
                    </table>
                    <input type="hidden" id="name-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveRow('modalCountries')">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 5 -->
    <div class="modal fade" id="modalSegments" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar Segmento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar segmento..." onkeyup="search('modalSegments')" />
                    </div>
                    <table class="table table-bordered table-hover table-striped mt-3" id="results">
                        @{
                            foreach (var elem in ViewBag.segments)
                            {
                                <tr style="cursor: pointer" onclick="selectRow(this)">
                                    <td>@elem.co_seg</td>
                                    <td>@elem.seg_des</td>
                                </tr>
                            }
                        }
                    </table>
                    <input type="hidden" id="name-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveRow('modalSegments')">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 6 -->
    <div class="modal fade" id="modalSellers" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar Vendedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar vendedor..." onkeyup="search('modalSellers')" />
                    </div>
                    <table class="table table-bordered table-hover table-striped mt-3" id="results">
                        @{
                            foreach (var elem in ViewBag.sellers)
                            {
                                <tr style="cursor: pointer" onclick="selectRow(this)">
                                    <td>@elem.co_ven</td>
                                    <td>@elem.ven_des</td>
                                </tr>
                            }
                        }
                    </table>
                    <input type="hidden" id="name-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveRow('modalSellers')">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 7 -->
    <div class="modal fade" id="modalConds" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar Cond. Pago</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar cond. pago..." onkeyup="search('modalConds')" />
                    </div>
                    <table class="table table-bordered table-hover table-striped mt-3" id="results">
                        @{
                            foreach (var elem in ViewBag.conds)
                            {
                                <tr style="cursor: pointer" onclick="selectRow(this)">
                                    <td>@elem.co_cond</td>
                                    <td>@elem.cond_des</td>
                                </tr>
                            }
                        }
                    </table>
                    <input type="hidden" id="name-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveRow('modalConds')">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-loading p-3">
    <h4>Cargando módulo de clientes...</h4>
</div>
<script>
    var app = angular.module("Clients", []);
    var clients = @Html.Raw(ViewBag.clients);
    var types = @Html.Raw(Json.Encode(ViewBag.types));
    var segments = @Html.Raw(Json.Encode(ViewBag.segments));
    var sellers = @Html.Raw(Json.Encode(ViewBag.sellers));
    var accounts = @Html.Raw(Json.Encode(ViewBag.accounts));
    var countries = @Html.Raw(Json.Encode(ViewBag.countries));
    var zones = @Html.Raw(Json.Encode(ViewBag.zones));
    var conds = @Html.Raw(Json.Encode(ViewBag.conds));

    for (var item of clients) {
        item.fecha_reg = new Date(parseInt(item.fecha_reg.substr(6)));
        item.fe_us_in = new Date(parseInt(item.fe_us_in.substr(6)));
        item.fe_us_mo = new Date(parseInt(item.fe_us_mo.substr(6)));
        item.tipo_adi = item.tipo_adi.toString();
    }

    $(document).ready(function () {
        $(".container-clients").removeAttr("style");
        $(".panel-loading").css("display", "none");
        $("#icon-menu").trigger("click");
    });

    app.controller("controller", function ($scope, $http) {

        $scope.index = 0;
        $scope.clients = clients;
        $scope.adding = false;
        $scope.editing = false;
        $scope.numberC = 200;

        $scope.client = clients[$scope.index];

        $scope.next = function () {
            if ($scope.index == (clients.length - 1)) {
                $scope.index = 0;
            } else {
                $scope.index++;
            }

            $scope.client = clients[$scope.index];
        }

        $scope.prev = function () {
            if ($scope.index == 0) {
                $scope.index = clients.length - 1;
            } else {
                $scope.index--;
            }

            $scope.client = clients[$scope.index];
        }

        $scope.selectClient = function (id) {
            if ($scope.adding) {
                alert("Debes terminar de agregar el cliente");
            } else if ($scope.editing) {
                alert("Debes terminar de modificar el cliente " + $scope.client.co_cli);
            } else {
                $scope.client = clients.find(c => c.co_cli == id);
                $scope.index = clients.indexOf($scope.client);
                $scope.clients = clients;
                $scope.search = "";
            }
        }

        $scope.margin = function (p) {
            if (p == "s") {
                $scope.index = 0;
                $scope.client = clients[0];
            } else if (p == "e") {
                $scope.index = clients.length - 1;
                $scope.client = clients[clients.length - 1];
            }
        }

        $scope.initAddClient = function () {

            $scope.adding = true;

            $scope.client = {
                fecha_reg: new Date(Date.now()),
                mont_cre: 0,
                tipo_adi: "1",
                porc_esp: 0,
                desc_ppago: 0.00,
                desc_glob: 0.00,
                contrib: false,
                inactivo: false,
                sincredito: false,
                contribu_e: false,
                rete_regis_doc: false
            };
        }

        $scope.addClient = function () {

            if ($("#form")[0].checkValidity()) {

                $("#form input, #form textarea").change();
                $("#modalWaiting").modal("show");

                if ($scope.client.tipo_per == undefined)
                    $scope.client.tipo_per = null;

                $scope.client.fecha_reg = origDate($scope.client.fecha_reg);

                if ($scope.client.sincredito)
                    $scope.client.cond_pag = null;

                for (var ind in $scope.client) {
                    if ($scope.client[ind] === "")
                        $scope.client[ind] = null;
                }

                console.log($scope.client);

                var req = {
                    method: 'POST',
                    url: '/api/ProfitTMApi/AddClient/',
                    data: $scope.client,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }

                $http(req).then(function (response) {

                    console.log(response.data);
                    var res = response.data;

                    $("#modalWaiting").modal("hide");
                    if (res.Status == "OK") {
                        $("#modalSuccess").modal("show");
                        $scope.successMessage = "El cliente se ha agregado con éxito";
                    } else {
                        $("#modalError").modal("show");
                        $scope.errorMessage = res.Message;
                    }

                });

            } else {
                var id = $($("#form :invalid")[0]).closest(".form-body")[0].id;
                $("#btn-" + id).trigger("click", event);
            }
        }

        $scope.editClient = function () {

            $("#form input, #form textarea").change();
            $("#modalWaiting").modal("show");

            if ($scope.client.sincredito)
                $scope.client.cond_pag = null;

            for (var ind in $scope.client) {
                if ($scope.client[ind] === "")
                    $scope.client[ind] = null;
            }

            console.log($scope.client);

            var req = {
                method: 'POST',
                url: '/api/ProfitTMApi/EditClient/',
                data: $scope.client,
                headers: {
                    'Content-Type': 'application/json'
                },
            }

            $http(req).then(function (response) {

                console.log(response.data);
                var res = response.data;

                $("#modalWaiting").modal("hide");
                if (res.Status == "OK") {
                    $("#modalSuccess").modal("show");
                    $scope.successMessage = "El cliente se ha modificado con éxito";
                } else {
                    $("#modalError").modal("show");
                    $scope.errorMessage = res.Message;
                }

            });
        }

        $scope.deleteClient = function (id) {

            $("#modalDelete").modal("hide");
            $("#modalWaiting").modal("show");

            $http.get("/api/ProfitTMApi/DeleteClient/" + id)
                .then(function (response) {

                    console.log(response.data);
                    var res = response.data;

                    $("#modalWaiting").modal("hide");
                    if (res.Status == "OK") {
                        $("#modalSuccess").modal("show");
                        $scope.successMessage = "El cliente se ha eliminado con éxito";
                    } else {
                        $("#modalError").modal("show");
                        $scope.errorMessage = res.Message;
                    }
                });
        }

        $scope.loadClients = function () {
            $scope.numberC += 200;
        }
    });

    function searchType(value) {
        return types.find(c => c.tip_cli == value).des_tipo;
    }

    function searchSegment(value) {
        return segments.find(c => c.co_seg == value).seg_des;
    }

    function searchSeller(value) {
        return sellers.find(c => c.co_ven == value).ven_des;
    }

    function searchAccount(value) {
        return accounts.find(c => c.co_cta_ingr_egr == value).descrip;
    }

    function searchCountry(value) {
        return countries.find(c => c.co_pais == value).pais_des;
    }

    function searchZone(value) {
        return zones.find(c => c.co_zon == value).zon_des;
    }

    function searchCond(value) {
        return conds.find(c => c.co_cond == value).cond_des;
    }

    function origDate(value) {

        var timeOffset = value.getTimezoneOffset() * 60000;
        var date = new Date(value.getTime() - timeOffset).toUTCString();

        return new Date(date);
    }

    function openModal(elem, modal) {

        var previous = elem.previousElementSibling;

        if (!previous.disabled) {

            $("#" + modal).find("#name-input").val($(elem).data("name"));
            $("#" + modal).modal("show");

        }
    }

    function search(modal) {
        var value = $("#" + modal).find("input[type=text]").val().toLowerCase(),
            table = $("#" + modal).find("#results")[0];

        for (var i = 0; i < table.rows.length; i++) {

            var row = table.rows[i];
            var elems = row.getElementsByTagName("td");

            var val1 = elems[0].innerHTML.toLocaleLowerCase(), val2 = elems[1].innerHTML.toLocaleLowerCase();

            if (!val1.includes(value) && !val2.includes(value))
                row.style.display = "none";
            else
                row.style.display = "";
        }
    }

    function selectRow(elem) {
        var previous = document.getElementsByClassName("selected-row")[0];

        if (previous != null) {
            previous.classList.remove("selected-row");
        }

        elem.classList.add("selected-row");
    }

    function saveRow(modal) {
        var item = document.getElementsByClassName("selected-row")[0];

        if (item != null) {
            var elem = item.children[0],
                value = elem.innerHTML,
                input = $("#" + modal).find("#name-input").val();

            $("#" + input).val(value.trim());
            $(".selected-row")[0].classList.remove("selected-row");
            $("#" + modal).find("input[type=text]").val("");
            $("#" + modal).find("button[name=search-btn]").trigger("click");

            switch (input) {
                case "type":
                    $("#des_type").val(searchType(value));
                    break;
                case "segment":
                    $("#des_segment").val(searchSegment(value));
                    break;
                case "seller":
                    $("#des_seller").val(searchSeller(value));
                    break;
                case "account":
                    $("#des_account").val(searchAccount(value));
                    break;
                case "country":
                    $("#des_country").val(searchCountry(value));
                    break;
                case "zone":
                    $("#des_zone").val(searchZone(value));
                    break;
                case "cond":
                    $("#des_cond").val(searchCond(value));
                    break;
            }

            $("#" + modal).modal("hide");
        } else {
            alert("Debes seleccionar un item");
        }
    }

    function openTab(e, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("form-body");

        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");

        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tabName).style.display = "flex";
        e.target.className += " active";
    }

    function searchClient() {
        var value = $("#input-clients").val().toLowerCase(),
            table = $("#table-clients")[0];

        for (var i = 1; i < table.rows.length; i++) {

            var row = table.rows[i];
            var elems = row.getElementsByTagName("td");

            var val1 = elems[0].innerHTML.toLocaleLowerCase(), val2 = elems[1].innerHTML.toLocaleLowerCase();

            if (!val1.includes(value) && !val2.includes(value))
                row.style.display = "none";
            else
                row.style.display = "";
        }
    }

</script>