@{
    if (!string.IsNullOrEmpty(ViewBag.name))
    {
        ViewBag.Title = ViewBag.name;
    }
    else
    {
        ViewBag.Title = "Reportes";
    }

    ViewData["home"] = Session["home"];
}
<div class="reports-container" ng-app="Reports" ng-controller="controller">
    <form action="" method="post">
        @{
            if (string.IsNullOrEmpty(ViewBag.name))
            {
                if (!string.IsNullOrEmpty(ViewBag.message))
                {
                    <div style="width: 100%;" class="alert alert-danger">@ViewBag.message</div>
                }
                <div class="row" style="margin-top: 15px">
                    <div class="col-sm-4 d-flex flex-column align-items-center">
                        <h5>Árbol de Reportes</h5>
                        <select ng-model="tree" ng-change="loadGroup(tree)" ng-disabled="!treeReports">
                            <option value="#">Seleccione Árbol de Reportes...</option>
                            <option ng-repeat="tree in treeReports" value="{{ tree.ID }}">{{ tree.Name }}</option>
                        </select>
                    </div>
                    <div class="col-sm-4 d-flex flex-column align-items-center">
                        <h5>Grupo de Reportes</h5>
                        <select ng-model="group" ng-change="loadReport(group)" ng-disabled="tree == '#'">
                            <option value="#">Seleccione Grupo de Reportes...</option>
                            <option ng-repeat="group in groupReports" value="{{ group.ID }}">{{ group.Name }}</option>
                        </select>
                    </div>
                    <div class="col-sm-4 d-flex flex-column align-items-center">
                        <h5>Reporte</h5>
                        <select ng-model="report" ng-change="loadButton(report)" ng-disabled="group == '#' || tree == '#'">
                            <option value="#">Seleccione Reporte...</option>
                            <option ng-repeat="report in reports" value="{{ report.ID }}" ng-show="report.Enabled">{{ report.Name }}</option>
                        </select>
                        <input type="hidden" id="name" name="name" value="" />
                        <input type="hidden" id="proc" name="proc" value="" />
                        <input type="hidden" id="cols" name="cols" value="" />
                        <input type="hidden" id="fields" name="fields" value="" />
                        <input type="hidden" id="queryParams" name="queryParams" value="" />
                        <input type="hidden" id="format" name="format" value="" />
                    </div>
                </div>
            }
        }
        <div class="row mt-3 p-3">
            <div class="col-sm-12">
                @{
                    if (ViewBag.results != null)
                    {
                        <h4 style="text-align: center;">@ViewBag.name</h4><br />
                        <table id="results-table" class="table table-striped table-hover table-bordered table-sm shadow-sm">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="vertical-align: middle; text-align: center;" scope="col">N°</th>
                                    @{
                                        foreach (var field in ViewBag.fields)
                                        {
                                            <th style="vertical-align: middle; text-align: center;" scope="col">@field</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var index = 1;
                                    foreach (var item in ViewBag.results)
                                    {
                                        <tr>
                                            <td>@index</td>
                                            @{
                                                foreach (var cell in ViewBag.cols)
                                                {
                                                    if (cell.Contains("(") && cell.Contains(")"))
                                                    {
                                                        string name = cell.Substring(0, cell.IndexOf("("));

                                                        <td>@item[name]</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@item[cell]</td>
                                                    }
                                                }
                                            }
                                        </tr>
                                        index++;
                                    }
                                }
                            </tbody>
                        </table>
                        <div style="margin-top: 10px; display: flex; justify-content: space-between">
                            <a href="/CajaBanco/Reportes/" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Regresar</a>
                            @{
                                if (!string.IsNullOrEmpty(ViewBag.format))
                                {
                                    <a href="/CajaBanco/Reportes/Reporte?name=@ViewBag.format" class="btn btn-primary">Ver Reporte</a>
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12 filters shadow">
                            <h3 class="text-white">Filtrar por</h3>
                            <div>
                                <h5 class="text-white">Codigo</h5>
                                <div class="input-search" style="margin-right: 20px;">
                                    <input type="text" id="codD" name="paramsSent" placeholder="Desde" disabled />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalAssistCod')" data-name="codD"></i>
                                </div>
                                <div class="input-search" style="margin-left: 20px;">
                                    <input type="text" id="codH" name="paramsSent" placeholder="Hasta" disabled />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalAssistCod')" data-name="codH"></i>
                                </div>
                            </div>
                            <div>
                                <h5 class="text-white">Fecha</h5>
                                <input type="date" id="fecD" name="paramsSent" style="margin-right: 20px;" placeholder="Desde" disabled />
                                <input type="date" id="fecH" name="paramsSent" style="margin-left: 20px;" placeholder="Hasta" disabled />
                            </div>
                            <hr style="width: 100%; height: 1px; background: #7ad4f7; border-radius: 5px; margin: 0 auto;" />
                            <div>
                                <h5 class="text-white">Cuenta</h5>
                                <div class="input-search" style="margin-right: 20px;">
                                    <input type="text" id="cueD" name="paramsSent" placeholder="Desde" disabled />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalAssistAcc')" data-name="cueD"></i>
                                </div>
                                <div class="input-search" style="margin-left: 20px;">
                                    <input type="text" id="cueH" name="paramsSent" placeholder="Hasta" disabled />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalAssistAcc')" data-name="cueH"></i>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        @{
            if (string.IsNullOrEmpty(ViewBag.name))
            {
                <button type="submit" id="btnSubmit" class="btn btn-primary" style="margin: 15px 0" ng-disabled="!completed">Cargar Reporte</button>
            }
        }
    </form>
    <!-- Modal 1 -->
    <div class="modal fade" id="modalAssistCod" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar Código</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: scroll">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar código..." onkeyup="search('modalAssistCod')" />
                    </div>
                    <table class="table table-bordered table-hover table-striped mt-3" id="results">
                        @{
                            foreach (var elem in ViewBag.assistCods)
                            {
                                <tr style="cursor: pointer" onclick="selectRow(this)">
                                    <td>@elem.ID</td>
                                    <td>@elem.Name</td>
                                </tr>
                            }
                        }
                    </table>
                    <input type="hidden" id="name-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveRow('modalAssistCod')">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2 -->
    <div class="modal fade" id="modalAssistAcc" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar Cuenta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: scroll">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar cuenta..." onkeyup="search('modalAssistAcc')" />
                    </div>
                    <table class="table table-bordered table-hover table-striped mt-3" id="results">
                        @{
                            foreach (var elem in ViewBag.assistAccs)
                            {
                                <tr style="cursor: pointer" onclick="selectRow(this)">
                                    <td>@elem.ID</td>
                                    <td>@elem.Bank</td>
                                    <td>@elem.Number</td>
                                    <td>@elem.Currency</td>
                                </tr>
                            }
                        }
                    </table>
                    <input type="hidden" id="name-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveRow('modalAssistAcc')">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/angular-min.js"></script>
<script>
    var app = angular.module("Reports", []);

    function blockFields() {

        var params = "codD, codH, fecD, fecH, cueD, cueH";

        for (var par of params.split(", ")) {
            if (document.getElementById(par) != null) {
                document.getElementById(par).setAttribute("disabled", "true");
            }
        }
    }

    app.controller("controller", function ($scope, $http) {

        $scope.tree = "#";
        $scope.group = "#";
        $scope.report = "#";
        $scope.completed = false;

        $http.get("../../api/ProfitTMApi/GetTreeReports/Prod/Admin/Mod/BANC")
            .then(function (response) {

                console.log(response.data);
                $scope.treeReports = response.data.Result;

            });

        $scope.loadGroup = function (tree) {

            if (tree != "#") {
                $scope.groupReports = $scope.treeReports.find(e => e.ID == tree).ReportGroups;
            }

            $scope.group = "#";
            $scope.report = "#";

            blockFields();
        }

        $scope.loadReport = function (group) {

            if (group != "#") {
                $scope.reports = $scope.groupReports.find(e => e.ID == group).Reports;
            }

            $scope.report = "#";

            blockFields();
        }

        $scope.loadButton = function (report) {

            var name = document.getElementById("name");
            var proc = document.getElementById("proc");
            var cols = document.getElementById("cols");
            var fields = document.getElementById("fields");
            var queryParams = document.getElementById("queryParams");
            var format = document.getElementById("format");

            blockFields();

            if (report != "#") {

                $scope.selected = $scope.reports.find(e => e.ID == report);
                console.log($scope.selected);

                name.value = $scope.selected.Name;
                proc.value = $scope.selected.Proc;
                cols.value = $scope.selected.Cols;
                fields.value = $scope.selected.Fields;
                queryParams.value = $scope.selected.QueryParams;
                format.value = $scope.selected.Format;

                if ($scope.selected.Params != null) {
                    for (var par of $scope.selected.Params.split(",")) {
                        if (document.getElementById(par) != null) {
                            document.getElementById(par).removeAttribute("disabled");
                        }
                    }
                }

                $scope.completed = true;

            } else {
                $scope.completed = false;
            }
        }
    });

    function openModal(elem, modal) {

        var previous = elem.previousElementSibling;

        if (!previous.disabled) {

            $("#" + modal).find("#name-input").val($(elem).data("name"));
            $("#" + modal).modal("show");

        }
    }

    function search(modal) {
        var value = $("#" + modal).find("input[type=text]").val().toLowerCase(),
            table = $("#" + modal).find("#results")[0];

        for (var i = 0; i < table.rows.length; i++) {

            var row = table.rows[i];
            var elems = row.getElementsByTagName("td");

            var val1 = elems[0].innerHTML.toLocaleLowerCase(), val2 = elems[1].innerHTML.toLocaleLowerCase();

            if (!val1.includes(value) && !val2.includes(value))
                row.style.display = "none";
            else
                row.style.display = "";
        }
    }

    function selectRow(elem) {
        var previous = document.getElementsByClassName("selected-row")[0];

        if (previous != null) {
            previous.classList.remove("selected-row");
        }

        elem.classList.add("selected-row");
    }

    function saveRow(modal) {
        var item = document.getElementsByClassName("selected-row")[0];

        if (item != null) {
            var elem = item.children[0],
                value = elem.innerHTML,
                input = $("#" + modal).find("#name-input").val();

            $("#" + input).val(value.trim());
            $(".selected-row")[0].classList.remove("selected-row");
            $("#" + modal).find("input[type=text]").val("");
            $("#" + modal).find("button[name=search-btn]").trigger("click");

            $("#" + modal).modal("hide");
        } else {
            alert("Debes seleccionar un item");
        }
    }

</script>