@{
    ViewData["Title"] = "Tablas";
    ViewData["home"] = Session["HOME"];
}
<style>
    .container {
        max-width: 100%;
    }
</style>
<div class="container container-option" ng-app="Tables" ng-controller="controller">
    <div ng-if="result" style="width: 100%;" class="{{ result.Class }}">{{ result.Message }}</div>
    <form action="" method="post">
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label for="option" style="margin: 0;">Seleccionar opción</label>
            </div>
            <div class="form-group col-sm-8">
                <select id="option" name="option" onchange="change(this)">
                    <option value="#">Seleccione una opción...</option>
                    <option value="0">Proveedor</option>
                </select>
            </div>
            <div class="form-group col-sm-2">
                <button type="submit" id="btn" class="btn btn-primary" disabled>Cargar opción</button>
            </div>
        </div>
    </form>
    <hr />
    @{
        if (ViewBag.results != "")
        {
            <div>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalProveedorAdd">
                    <i class="fas fa-plus"></i> Agregar nuevo
                </button>
            </div>
            <h2 class="text-center">@ViewBag.function</h2>
            <table id="results-table" class="table table-striped table-hover table-bordered table-sm shadow-sm">
                <thead class="thead-dark">
                    <tr>
                        @{
                            foreach (string header in ViewBag.headers.Split(','))
                            {
                                <th style="vertical-align: middle; text-align: center;" scope="col">@header</th>
                            }
                            <th style="vertical-align: middle; text-align: center;" scope="col">Opciones</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var result in ViewBag.resultsTable)
                        {
                            <tr>
                                @{
                                    foreach (string col in ViewBag.cols.Split(','))
                                    {
                                        <td> @result[col]</td>
                                    }
                                    <td class="cell-icons" scope="col">
                                        <div>
                                            <i role="button" onclick="editRow(this)" class="fas fa-file-edit"></i>
                                            <i role="button" onclick="deleteRow(this)" class="fas fa-times"></i>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div style="height: 40px;"></div>
            <!-- Modal Agregar Proveedor -->
            <div class="modal fade" id="modalProveedorAdd" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <form action="" method="post" id="formAdd" class="modal-content" onsubmit="return false;">
                        <div class="modal-header">
                            <h5 class="modal-title">Agregar Proveedor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <div class="col-sm-2">
                                    <input type="text" id="codigo" placeholder="Código" required ng-model="formAdd.id" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" id="nombre" placeholder="Nombre" required ng-model="formAdd.name" />
                                </div>
                                <div class="col-sm-4 input-search">
                                    <input type="text" id="tipo" placeholder="Tipo" onfocus="this.blur()" style="max-width: 70%;" required ng-model="formAdd.type" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalTypes')" data-name="tipo"></i>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top: 30px">
                                <div class="col-sm-3 input-search">
                                    <input type="text" id="zona" placeholder="Zona" onfocus="this.blur()" style="max-width: 70%;" required ng-model="formAdd.zone" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalZones')" data-name="zona"></i>
                                </div>
                                <div class="col-sm-3 input-search">
                                    <input type="text" id="cuenta" placeholder="Cta Ingr/Egr" onfocus="this.blur()" style="max-width: 70%;" required ng-model="formAdd.account" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalAccounts')" data-name="cuenta"></i>
                                </div>
                                <div class="col-sm-3 input-search">
                                    <input type="text" id="pais" placeholder="País" onfocus="this.blur()" style="max-width: 70%;" required ng-model="formAdd.country" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalCountries')" data-name="pais"></i>
                                </div>
                                <div class="col-sm-3 input-search">
                                    <input type="text" id="segmento" placeholder="Segmento" onfocus="this.blur()" style="max-width: 70%;" required ng-model="formAdd.segment" />
                                    <i class="fas fa-search" role="button" onclick="openModal(this, 'modalSegments')" data-name="segmento"></i>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top: 30px">
                                <div class="col-sm-4">
                                    <input type="text" id="rif" placeholder="RIF" required ng-model="formAdd.rif" />
                                </div>
                                <div class="col-sm-4">
                                    <input type="email" id="email" placeholder="Email" required ng-model="formAdd.email" />
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="telefono" placeholder="Teléfono" required ng-model="formAdd.phone" />
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top: 30px">
                                <div class="col-sm-12">
                                    <textarea id="direccion" placeholder="Direccion" ng-model="formAdd.address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" ng-click="addSupplier()">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal Editar Proveedor -->
            <div class="modal fade" id="modalProveedorEdit" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <form action="" method="post" id="formEdit" class="modal-content" onsubmit="return false;">
                        <div class="modal-header">
                            <h5 class="modal-title">Editar Proveedor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <input type="text" id="codigoEdit" placeholder="Código" style="background: #d5d5d5;" readonly onfocus="this.blur()" ng-model="formEdit.id" />
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="nombreEdit" placeholder="Nombre" required ng-model="formEdit.name" />
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" id="rifEdit" placeholder="RIF" required ng-model="formEdit.rif" />
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top: 30px">
                                <div class="col-sm-6">
                                    <input type="email" id="emailEdit" placeholder="Email" required ng-model="formEdit.email" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" id="telefonoEdit" placeholder="Teléfono" required ng-model="formEdit.phone" />
                                </div>
                            </div>
                            <div class="form-group row" style="margin-top: 30px">
                                <div class="col-sm-12">
                                    <textarea id="direccionEdit" placeholder="Direccion" ng-model="formEdit.address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" ng-click="editSupplier()">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal Eliminar Proveedor -->
            <div class="modal fade" id="modalProveedorDelete" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <form action="" method="post" id="formDelete" class="modal-content" onsubmit="return false;">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar Proveedor</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <i class="text-center fas fa-exclamation-triangle" style="width: 100%; font-size: 40px; margin-bottom: 20px; color: #ffd43b;"></i>
                            <h4 class="text-center">¿Estás seguro que desesas eliminar este registro?</h4>
                            <input type="hidden" id="codigoDelete" value="" ng-model="idDelete"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary" ng-click="deleteSupplier()">Eliminar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal 1 -->
            <div class="modal fade" id="modalTypes" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Buscar Tipo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar tipo..." onkeyup="search('modalTypes')" />
                            </div>
                            <table class="table table-bordered table-hover table-striped mt-3" id="results">
                                @{
                                    foreach (var elem in ViewBag.types)
                                    {
                                        <tr style="cursor: pointer" onclick="selectRow(this)">
                                            <td>@elem.ID</td>
                                            <td>@elem.OptionName</td>
                                        </tr>
                                    }
                                }
                            </table>
                            <input type="hidden" id="name-input" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="saveRow('modalTypes')">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 2 -->
            <div class="modal fade" id="modalZones" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Buscar Zona</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar zona..." onkeyup="search('modalZones')" />
                            </div>
                            <table class="table table-bordered table-hover table-striped mt-3" id="results">
                                @{
                                    foreach (var elem in ViewBag.zones)
                                    {
                                        <tr style="cursor: pointer" onclick="selectRow(this)">
                                            <td>@elem.ID</td>
                                            <td>@elem.OptionName</td>
                                        </tr>
                                    }
                                }
                            </table>
                            <input type="hidden" id="name-input" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="saveRow('modalZones')">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 3 -->
            <div class="modal fade" id="modalAccounts" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Buscar Cuenta de Ingr/Egr</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar cuenta..." onkeyup="search('modalAccounts')" />
                            </div>
                            <table class="table table-bordered table-hover table-striped mt-3" id="results">
                                @{
                                    foreach (var elem in ViewBag.accounts)
                                    {
                                        <tr style="cursor: pointer" onclick="selectRow(this)">
                                            <td>@elem.ID</td>
                                            <td>@elem.OptionName</td>
                                        </tr>
                                    }
                                }
                            </table>
                            <input type="hidden" id="name-input" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="saveRow('modalAccounts')">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 4 -->
            <div class="modal fade" id="modalCountries" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Buscar País</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar país..." onkeyup="search('modalCountries')" />
                            </div>
                            <table class="table table-bordered table-hover table-striped mt-3" id="results">
                                @{
                                    foreach (var elem in ViewBag.countries)
                                    {
                                        <tr style="cursor: pointer" onclick="selectRow(this)">
                                            <td>@elem.ID</td>
                                            <td>@elem.OptionName</td>
                                        </tr>
                                    }
                                }
                            </table>
                            <input type="hidden" id="name-input" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="saveRow('modalCountries')">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 5 -->
            <div class="modal fade" id="modalSegments" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document" style="max-width: 800px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Buscar Segmento</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar segmento..." onkeyup="search('modalSegments')" />
                            </div>
                            <table class="table table-bordered table-hover table-striped mt-3" id="results">
                                @{
                                    foreach (var elem in ViewBag.segments)
                                    {
                                        <tr style="cursor: pointer" onclick="selectRow(this)">
                                            <td>@elem.ID</td>
                                            <td>@elem.OptionName</td>
                                        </tr>
                                    }
                                }
                            </table>
                            <input type="hidden" id="name-input" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" onclick="saveRow('modalSegments')">Seleccionar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h3 class="text-center font-weight-bold" style="position: relative; top: 30%;">Sin Resultados</h3>
        }
    }
</div>
<script src="~/Scripts/angular-min.js"></script>
<script>
    var app = angular.module("Tables", []);

    app.controller("controller", function ($scope, $http) {

        $scope.formAdd = {};
        $scope.formEdit = {};
        $scope.idDelete = "0";

        $scope.addSupplier = function () {

            if ($("#formAdd")[0].checkValidity()) {

                $(".modal .btn.btn-primary").prop('disabled', 'true');
                $("#formAdd input, #formAdd textarea").change();
                console.log($scope.formAdd);

                var req = {
                    method: 'POST',
                    url: '/api/ProfitTMApi/AddSupplier/',
                    data: $scope.formAdd,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }

                $http(req).then(function (response) {

                    console.log(response.data);
                    $scope.result = response.data;

                    $("#modalProveedorAdd").modal("hide");
                    if ($scope.result.Status == "OK") {

                        $scope.result.Class = "alert alert-success";
                        $scope.result.Message = "Proveedor agregado con éxito";

                        setTimeout(() => location.href = "/Compras/Tablas/Index?option=0", 2000);

                    } else
                        $scope.result.Class = "alert alert-danger";

                });
            }
        }

        $scope.editSupplier = function () {

            if ($("#formEdit")[0].checkValidity()) {

                $(".modal .btn.btn-primary").prop('disabled', 'true');
                $("#formEdit input, #formEdit textarea").change();
                console.log($scope.formEdit);

                var req = {
                    method: 'POST',
                    url: '/api/ProfitTMApi/EditSupplier/',
                    data: $scope.formEdit,
                    headers: {
                        'Content-Type': 'application/json'
                    },
                }

                $http(req).then(function (response) {

                    console.log(response.data);
                    $scope.result = response.data;

                    $("#modalProveedorEdit").modal("hide");
                    if ($scope.result.Status == "OK") {

                        $scope.result.Class = "alert alert-success";
                        $scope.result.Message = "Proveedor modificado con éxito";

                        setTimeout(() => location.href = "/Compras/Tablas/Index?option=0", 2000);

                    } else
                        $scope.result.Class = "alert alert-danger";

                });
            }
        }

        $scope.deleteSupplier = function () {

            $(".modal .btn.btn-primary").prop('disabled', 'true');
            $scope.idDelete = $("#codigoDelete").val();
            console.log($scope.idDelete);

            $http.get("/api/ProfitTMApi/DeleteSupplier/" + $scope.idDelete)
                .then(function (response) {

                    console.log(response.data);
                    $scope.result = response.data;

                    $("#modalProveedorDelete").modal("hide");
                    if ($scope.result.Status == "OK") {

                        $scope.result.Class = "alert alert-success";
                        $scope.result.Message = "Proveedor eliminado con éxito";

                        setTimeout(() => location.href = "/Compras/Tablas/Index?option=0", 2000);

                    } else
                        $scope.result.Class = "alert alert-danger";

                });
        }

    });

    function change(elem) {

        if (elem.value == "#")
            $("#btn").prop("disabled", "true");
        else
            $("#btn").prop("disabled", "");
    }

    function openModal(elem, modal) {

        var previous = elem.previousElementSibling;

        if (!previous.disabled) {

            $("#" + modal).find("#name-input").val($(elem).data("name"));
            $("#" + modal).modal("show");

        }
    }

    function search(modal) {
        var value = $("#" + modal).find("input[type=text]").val().toLowerCase(),
            table = $("#" + modal).find("#results")[0];

        for (var i = 0; i < table.rows.length; i++) {

            var row = table.rows[i];
            var elems = row.getElementsByTagName("td");

            var val1 = elems[0].innerHTML.toLocaleLowerCase(), val2 = elems[1].innerHTML.toLocaleLowerCase();

            if (!val1.includes(value) && !val2.includes(value))
                row.style.display = "none";
            else
                row.style.display = "";
        }
    }

    function selectRow(elem) {
        var previous = document.getElementsByClassName("selected-row")[0];

        if (previous != null) {
            previous.classList.remove("selected-row");
        }

        elem.classList.add("selected-row");
    }

    function saveRow(modal) {
        var item = document.getElementsByClassName("selected-row")[0];

        if (item != null) {
            var elem = item.children[0],
                value = elem.innerHTML,
                input = $("#" + modal).find("#name-input").val();

            $("#" + input).val(value.trim());
            $(".selected-row")[0].classList.remove("selected-row");
            $("#" + modal).find("input[type=text]").val("");
            $("#" + modal).find("button[name=search-btn]").trigger("click");

            $("#" + modal).modal("hide");
        } else {
            alert("Debes seleccionar un item");
        }
    }

    function editRow(elem) {
        var cells = $(elem).closest('tr')[0].cells;

        var codigo = cells[0].innerHTML,
            rif = cells[1].innerHTML,
            nombre = cells[2].innerHTML,
            direccion = cells[3].innerHTML,
            telefono = cells[4].innerHTML,
            email = cells[5].innerHTML;

        $("#codigoEdit").val(codigo);
        $("#rifEdit").val(rif);
        $("#nombreEdit").val(nombre);
        $("#direccionEdit").val(direccion);
        $("#telefonoEdit").val(telefono);
        $("#emailEdit").val(email);

        $("#modalProveedorEdit").modal("show");
    }

    function deleteRow(elem) {
        var cells = $(elem).closest('tr')[0].cells;

        var codigo = cells[0].innerHTML;

        $("#codigoDelete").val(codigo.trim());
        $("#modalProveedorDelete").modal("show");
    }
</script>