@{
    ViewBag.Title = "Orden de Compra";
}
<style>
    input, select, textarea {
        border: solid 1px #d7d7d7;
        border-radius: 5px;
        box-shadow: none;
    }
    input[disabled] {
        pointer-events: none;
    }
    .container-orders {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px;
        box-sizing: border-box;
    }
    .container-orders > .row {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .container-orders > .row hr {
        display: none;
    }
    .container-form .controls {
        margin: 0;
    }
    .col-sm-12.col-md-4.controls {
        width: auto;
    }
    .form-body .row {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .form-body .row .controls {
        margin: 0;
        padding: 0;
    }
    .cont-checks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .cont-checks .label-check {
        width: 140px;
    }
    .cont-radios {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .btn-convert {
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .btn-convert button {
        width: 100%;
    }
    .bottom {
        margin-top: 15px;
    }
    .modal-info .fas {
        font-size: 6em;
        padding: 5%;
    }
    tr.active {
        background: #0277bd !important;
    }
    tr.active td {
        color: #FFF !important;
    }
    .field-active {
        background: #7af4af !important;
    }
    .d-flex.justify-content-evenly > button {
        width: 25px;
        height: 25px;
        padding: 0;
        font-size: 10px;
    }
    @@media (max-width: 767px) {
        .btn-convert {
            margin-top: 15px;
        }
    }
    @@media (max-width: 1199px) {
        .container-orders, .container-orders > .row {
            height: auto !important;
        }
        hr:not(.divider) {
            display: block !important;
        }
        .button-import .btn {
            margin: 2px;
        }
        .buttons-next-prev {
            justify-content: center !important;
            margin: 5px 0;
        }
        .button-import {
            flex-wrap: wrap;
            justify-content: center !important;
            margin: 5px 0;
        }
    }
</style>
<script src="~/Scripts/angular-min.js"></script>
<div class="container-fluid container-orders" id="container-orders" style="display: none;" ng-app="Orders" ng-controller="controller">
    <div class="row">
        <div class="col-md-12 col-xl-3 container-list">
            <input type="text" id="input-orders" class="form-control" placeholder="Buscar orden de compra..." style="border: solid 1px #ced4da;" onkeyup="searchOrder()" />
            <div class="list-table-orders">
                <table class="table table-hover table-striped" id="table-orders">
                    <thead>
                        <tr>
                            <th class="text-white">Código</th>
                            <th class="text-white">Cliente</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="order in orders" ng-class="{ active: orders[index].doc_num == order.doc_num }" ng-click="selectOrder(order.doc_num)" style="cursor: pointer;">
                        <td><i class="fas fa-caret-right mx-1" ng-show="orders[index].doc_num == order.doc_num"></i>{{ order.doc_num }}</td>
                        <td>{{ order.co_prov }}</td>
                    </tr>
                </table>
            </div>
            <button type="button" class="btn btn-primary mt-2" ng-click="">Cargar más órdenes</button>
        </div>
        <hr class="divider" />
        <form action="" method="post" id="form" class="col-md-12 col-xl-9 container-form" onsubmit="return false;">
            <div class="form-header">
                <h3 class="text-center text-white"><i class="fas fa-file-alt"></i> Orden de Compra</h3>
            </div>
            <div class="form-buttons">
                <div class="row">
                    <div class="col buttons-next-prev" ng-show="!new && !adding">
                        <button type="button" class="btn text-white" style="background: #810be3; min-width: auto; padding: 0 7px;" ng-click="initAddOrder()">
                            <i class="fas fa-plus"></i> Nuevo
                        </button>
                        <div style="width: 10px;"></div>
                        <button type="button" class="btn btn-primary" ng-click="margin('s')">
                            <i class="fas fa-chevron-double-left"></i>
                        </button>
                        <div style="width: 10px;"></div>
                        <button type="button" class="btn btn-primary" ng-click="prev()">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <div style="width: 10px;"></div>
                        <button type="button" class="btn btn-primary" ng-click="next()">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <div style="width: 10px;"></div>
                        <button type="button" class="btn btn-primary" ng-click="margin('e')">
                            <i class="fas fa-chevron-double-right"></i>
                        </button>
                    </div>
                    <div class="col buttons-save-cancel" ng-show="new">
                        <button type="button" class="btn btn-danger" ng-click="new = false; order = orders[index];">
                            <i class="fas fa-times"></i>
                            Cancelar
                        </button>
                        <div style="width: 10px;"></div>
                        <button type="submit" class="btn btn-success" ng-click="addNewOrder()">
                            <i class="fas fa-save"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-tabs">
                <div class="row">
                    <button type="button" id="btn-general" class="col tablinks active" onclick="openTab(event, 'general')">General</button>
                    <button type="button" id="btn-adicionales" class="col tablinks" onclick="openTab(event, 'adicionales')">Adicionales</button>
                </div>
            </div>
            <div id="general" class="form-body" style="display: flex;">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="controls">
                            <label>Número</label>
                            <input type="text" class="form-control" id="id" ng-model="order.doc_num" ng-disabled="true" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="controls">
                            <label>Fecha</label>
                            <input type="date" class="form-control" id="fec_emis" ng-model="order.fec_emis" ng-disabled="!new" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="controls">
                            <label>Fec. Venc</label>
                            <input type="date" class="form-control" id="fec_emis" ng-model="order.fec_venc" ng-disabled="!new" ng-required="true" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="controls">
                            <label>Estatus</label>
                            <input type="text" class="form-control" id="n_control" ng-model="order.estatus" ng-disabled="true" ng-required="false" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="controls">
                            <label>Proveedor</label>
                            <div class="input-search">
                                <input type="text" class="form-control" id="supplier" ng-model="order.co_prov" ng-disabled="!new" ng-required="true" style="flex: 1;" />
                                <input type="text" class="form-control" id="des_supplier" ng-model="order.saProveedor.prov_des" ng-disabled="!new" ng-required="true" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
                                <i class="fas fa-search" role="button" onclick="openModal(this, 'modalSuppliers')" data-name="supplier"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="controls">
                            <label>Moneda</label>
                            <div class="input-search">
                                <input type="text" class="form-control" id="currency" ng-model="order.co_mone" ng-disabled="!new" ng-required="true" />
                                <i class="fas fa-search" role="button" onclick="openModal(this, 'modalCurrencies')" data-name="currency"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="controls">
                            <label>Tasa</label>
                            <input type="text" class="form-control" id="tasa" ng-model="order.tasa" ng-disabled="!new" ng-required="true" ng-change="update(order.tasa)" onkeypress="return (event.charCode >= 46 && event.charCode <= 57)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="controls">
                            <label>Descripción</label>
                            <input type="text" class="form-control" id="descrip" ng-model="order.descrip" ng-disabled="!new" ng-required="false" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="controls">
                            <label>Cond. Pago</label>
                            <div class="input-search">
                                <input type="text" class="form-control" id="cond" ng-model="order.co_cond" ng-disabled="!new" ng-required="true" style="flex: 1;" />
                                <input type="text" class="form-control" id="des_cond" ng-model="order.saCondicionPago.cond_des" ng-disabled="!new" ng-required="true" ng-readonly="true" style="flex: 3; margin-left: 5px;" />
                                <i class="fas fa-search" role="button" onclick="openModal(this, 'modalConds')" data-name="cond"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 btn-convert">
                        <button class="btn btn-primary" ng-click="convert()">Conversión</button>
                    </div>
                </div>
                <div class="bottom" style="padding: 0 0 10px 0;">
                    <h4 class="text-center text-white form-header">Items de la Orden de Compra</h4>
                    <div style="padding: 0 10px; overflow-x: auto;">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>N°</th>
                                    <th>Artículo</th>
                                    <th>Descripción</th>
                                    <th>Almacén</th>
                                    <th>Cantidad</th>
                                    <th>IVA</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="reng in order.saOrdenCompraReng" style="cursor: pointer;">
                                    <td>{{ reng.reng_num }}</td>
                                    <td>{{ reng.co_art }}</td>
                                    <td>{{ searchArt(reng.co_art) }}</td>
                                    <td>{{ reng.co_alma }}</td>
                                    <td>{{ reng.total_art }}</td>
                                    <td ng-show="!converted">{{ reng.monto_imp }}</td>
                                    <td ng-show="converted" class="field-active">{{ reng.monto_imp_om }}</td>
                                    <td ng-show="!converted">{{ reng.reng_neto }}</td>
                                    <td ng-show="converted" class="field-active">{{ reng.reng_neto_om }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-sm-12 col-md-6 offset-md-6">
                            <div class="controls">
                                <label>Sub-Total</label>
                                <input type="text" class="form-control" id="subtotal" ng-model="order.total_bruto" ng-show="!converted" ng-disabled="true" ng-required="true" />
                                <input type="text" class="form-control field-active" id="subtotal_om" ng-model="order.total_bruto_om" ng-show="converted" ng-disabled="true" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 offset-md-6">
                            <div class="controls">
                                <label>IVA</label>
                                <input type="text" class="form-control" id="iva" ng-model="order.monto_imp" ng-show="!converted" ng-disabled="true" ng-required="true" />
                                <input type="text" class="form-control field-active" id="iva_om" ng-model="order.monto_imp_om" ng-show="converted" ng-disabled="true" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="controls">
                                <label>Saldo</label>
                                <input type="text" class="form-control" id="saldo" ng-model="order.saldo" ng-show="!converted" ng-disabled="true" ng-required="true" />
                                <input type="text" class="form-control field-active" id="saldo_om" ng-model="order.saldo_om" ng-show="converted" ng-disabled="true" ng-required="true" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="controls">
                                <label>Total</label>
                                <input type="text" class="form-control" id="total" ng-model="order.total_neto" ng-show="!converted" ng-disabled="true" ng-required="true" />
                                <input type="text" class="form-control field-active" id="total_om" ng-model="order.total_neto_om" ng-show="converted" ng-disabled="true" ng-required="true" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="adicionales" class="form-body">
                <div class="left">
                    <div class="controls">
                        <label>Ag. Aduanal</label>
                        <input type="text" class="form-control" ng-model="invoice.campo1" ng-disabled="!new" />
                    </div>
                    <div class="controls">
                        <label>No. Doc.</label>
                        <input type="text" class="form-control" ng-model="invoice.campo3" ng-disabled="!new" />
                    </div>
                    <div class="controls">
                        <label>Destino</label>
                        <input type="text" class="form-control" ng-model="invoice.campo5" ng-disabled="!new" />
                    </div>
                    <div class="controls">
                        <label>Buque</label>
                        <input type="text" class="form-control" ng-model="invoice.campo7" ng-disabled="!new" />
                    </div>
                </div>
                <div class="right">
                    <div class="controls">
                        <label>Fec. Viaje</label>
                        <input type="text" class="form-control" ng-model="invoice.campo2" ng-disabled="!new" />
                    </div>
                    <div class="controls">
                        <label>Pto. Embq.</label>
                        <input type="text" class="form-control" ng-model="invoice.campo4" ng-disabled="!new" />
                    </div>
                    <div class="controls">
                        <label>Mercancía</label>
                        <input type="text" class="form-control" ng-model="invoice.campo6" ng-disabled="!new" />
                    </div>
                    <div class="controls">
                        <label>No. Viaje</label>
                        <input type="text" class="form-control" ng-model="invoice.campo8" ng-disabled="!new" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Modal 1 -->
    <div class="modal fade" id="modalSuppliers" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar Proveedor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar proveedor..." onkeyup="search('modalSuppliers')" />
                    </div>
                    <table class="table table-bordered table-hover table-striped mt-3" id="results">
                        <tr ng-repeat="supplier in suppliers" style="cursor: pointer" onclick="selectRow(this)">
                            <td>{{ supplier.co_prov }}</td>
                            <td>{{ supplier.prov_des }}</td>
                        </tr>
                        <tr ng-if="!clients">
                            <td colspan="2">Cargando proveedores... <i class="fas fa-spinner-third fa-spin" style="font-size: 25px;"></i></td>
                        </tr>
                    </table>
                    <input type="hidden" id="name-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveRow('modalSuppliers')">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2 -->
    <div class="modal fade" id="modalCurrencies" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar Moneda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar moneda..." onkeyup="search('modalCurrencies')" />
                    </div>
                    <table class="table table-bordered table-hover table-striped mt-3" id="results">
                        <tr ng-repeat="currency in currencies" style="cursor: pointer" onclick="selectRow(this)">
                            <td>{{ currency.co_mone }}</td>
                            <td>{{ currency.mone_des }}</td>
                        </tr>
                    </table>
                    <input type="hidden" id="name-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveRow('modalCurrencies')">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3 -->
    <div class="modal fade" id="modalConds" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buscar Cond. Pago</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow-y: auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar cond. pago..." onkeyup="search('modalConds')" />
                    </div>
                    <table class="table table-bordered table-hover table-striped mt-3" id="results">
                        <tr ng-repeat="cond in conds" style="cursor: pointer" onclick="selectRow(this)">
                            <td>{{ cond.co_cond }}</td>
                            <td>{{ cond.cond_des }}</td>
                        </tr>
                    </table>
                    <input type="hidden" id="name-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="saveRow('modalConds')">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-loading p-3">
    <h4>Cargando datos...</h4>
</div>
<script>
    var app = angular.module("Orders", []);
    var user = '@ViewBag.username';
    var orders = @Html.Raw(ViewBag.orders);
    var arts = @Html.Raw(ViewBag.arts);
    var suppliers = @Html.Raw(ViewBag.suppliers);
    var currencies = @Html.Raw(ViewBag.currencies);
    var conds = @Html.Raw(ViewBag.conds);

    orders = parseItems(orders);

    $(document).ready(function () {
        $(".container-orders").removeAttr("style");
        $(".panel-loading").css("display", "none");

        if (!responsive)
            $("#icon-menu").trigger("click");
    });

    $("#container-orders").on("click", function (event) {
        if (event.target.id != "icon-menu" && event.target.id != "menu-left" && !responsive) {
            if ($("#menu-left.active").length == 0) {
                $("#icon-menu").trigger("click");
            }
        }
    });

    $(document).on("contextmenu", function (event) {
        event.preventDefault();
    });

    app.controller("controller", function ($scope, $http) {

        $scope.index = 0;
        $scope.numberO = 200;
        $scope.orders = orders;
        $scope.order = orders[$scope.index];
        $scope.arts = arts;
        $scope.suppliers = suppliers;
        $scope.currencies = currencies;
        $scope.conds = conds;
        $scope.converted = false;

        // FUNCIONES DE BOTONES
        $scope.next = function () {
            if ($scope.index == (orders.length - 1)) {
                $scope.index = 0;
            } else {
                $scope.index++;
            }

            $scope.order = orders[$scope.index];
        }

        $scope.prev = function () {
            if ($scope.index == 0) {
                $scope.index = orders.length - 1;
            } else {
                $scope.index--;
            }

            $scope.order = orders[$scope.index];
        }

        $scope.margin = function (p) {
            if (p == "s") {
                $scope.index = 0;
                $scope.order = orders[0];
            } else if (p == "e") {
                $scope.index = orders.length - 1;
                $scope.order = orders[invoices.length - 1];
            }
        }

        $scope.convert = function () {
            $scope.converted = !$scope.converted;
        }

        // FUNCIONES VARIAS
        $scope.searchArt = (id) => searchArt(id);

        // FUNCIONES DE ORDENES MOSTRADAS
        $scope.selectOrder = function (id) {
            if ($scope.new || $scope.adding) {
                alert("Debes terminar de agregar la orden");
            } else if ($scope.editing) {
                alert("Debes terminar de modificar la orden " + $scope.order.doc_num);
            } else {
                $scope.order = orders.find(o => o.doc_num == id);
                $scope.index = orders.indexOf($scope.order);
                $scope.orders = orders;
                $("#input-orders").val("");
                searchOrder();
            }
        }

        // FUNCIONES DE AGREGAR ORDEN
        $scope.initAddOrder = function () {

            $scope.new = true;

            $scope.order = {
                fec_emis: new Date(Date.now()),
                fec_venc: new Date(Date.now()),
                status: 0,
                estatus: "NO PROCESADA",
                saOrdenCompraReng: []
            };
        }

        $scope.addNewOrder = function () {

            if ($("#form")[0].checkValidity()) {
                if ($scope.order.saOrdenCompraReng.length > 0) {

                } else {
                    alert("Debes agregar items a la orden de compra");
                }
            }
        }
    });

    // BUSQUEDAS
    function searchOrder() {
        var value = $("#input-orders").val().toLowerCase(),
            table = $("#table-orders")[0];

        for (var i = 1; i < table.rows.length; i++) {

            var row = table.rows[i];
            var elems = row.getElementsByTagName("td");

            var val1 = elems[0].innerHTML.toLocaleLowerCase(), val2 = elems[1].innerHTML.toLocaleLowerCase();

            if (!val1.includes(value) && !val2.includes(value))
                row.style.display = "none";
            else
                row.style.display = "";
        }
    }

    function searchArt(value) {

        var name = "";
        value = value.trim();

        for (var a of arts) {
            var code = a.split("/")[0];

            if (code == value) {
                name = a.split("/")[1];
                break;
            }
        }

        return name;
    }

    function searchSupplier(value) {
        return suppliers.find(s => s.co_prov == value).prov_des;
    }

    function searchCurrency(value) {
        return currencies.find(c => c.co_mone == value).mone_des;
    }

    function searchCond(value) {
        return conds.find(c => c.co_cond.trim() == value.trim()).cond_des;
    }

    // FORMATO DE DATOS DE ORDENES DE COMPRA
    function parseItems(items_c) {

        var items = items_c;

        for (var item of items) {

            // TOTALES OM
            item.total_bruto_om = setSeparator((item.total_bruto / item.tasa).toFixed(2));
            item.total_bruto = setSeparator(item.total_bruto.toFixed(2));

            item.monto_imp_om = setSeparator((item.monto_imp / item.tasa).toFixed(2));
            item.monto_imp = setSeparator(item.monto_imp.toFixed(2));

            item.total_neto_om = setSeparator((item.total_neto / item.tasa).toFixed(2));
            item.total_neto = setSeparator(item.total_neto.toFixed(2));

            item.saldo_om = setSeparator((item.saldo / item.tasa).toFixed(2));
            item.saldo = setSeparator(item.saldo.toFixed(2));
            item.saldo_f_om = item.saldo_om;
            item.saldo_f = item.saldo;

            for (var r of item.saOrdenCompraReng) {
                r.monto_imp_om = setSeparator((r.monto_imp / item.tasa).toFixed(2));
                r.monto_imp = setSeparator(r.monto_imp.toFixed(2));

                r.reng_neto_om = setSeparator((r.reng_neto / item.tasa).toFixed(2));
                r.reng_neto = setSeparator(r.reng_neto.toFixed(2));
            }

            // FECHAS
            item.fec_emis = new Date(parseInt(item.fec_emis.substr(6)));
            item.fec_venc = new Date(parseInt(item.fec_venc.substr(6)));
            item.fec_reg = new Date(parseInt(item.fec_reg.substr(6)));
            item.fe_us_in = new Date(parseInt(item.fe_us_in.substr(6)));
            item.fe_us_mo = new Date(parseInt(item.fe_us_mo.substr(6)));

            // DATOS
            item.estatus = setStatus(item.status);
        }

        return items;
    }

    function setStatus(status) {

        var value;

        if (status == 0)
            value = "NO PROCESADA";
        else if (status == 1)
            value = "PARC. PROCESADA";
        else if (status == 2)
            value = "PROCESADA";

        return value;
    }

    // FORMATO Y CAMPOS
    function setSeparator(value) {
        return new Intl.NumberFormat('en-EN', { minimumFractionDigits: 2 }).format(value);
    }

    // MODALES
    function openModal(elem, modal) {

        var previous = elem.previousElementSibling;

        if (!previous.disabled) {
            $("#" + modal).find("#name-input").val($(elem).data("name"));
            $("#" + modal).modal("show");
        }
    }

    function search(modal) {
        var value = $("#" + modal).find("input[type=text]").val().toLowerCase(),
            table = $("#" + modal).find("#results")[0];

        for (var i = 0; i < table.rows.length; i++) {

            var row = table.rows[i];
            var elems = row.getElementsByTagName("td");

            var val1 = elems[0].innerHTML.toLocaleLowerCase(), val2 = elems[1].innerHTML.toLocaleLowerCase();

            if (!val1.includes(value) && !val2.includes(value))
                row.style.display = "none";
            else
                row.style.display = "";
        }
    }

    function selectRow(elem) {
        var previous = document.getElementsByClassName("selected-row")[0];

        if (previous != null) {
            previous.classList.remove("selected-row");
        }

        elem.classList.add("selected-row");
    }

    function saveRow(modal) {
        var item = document.getElementsByClassName("selected-row")[0];

        if (item != null) {
            var elem = item.children[0],
                value = elem.innerHTML,
                input = $("#" + modal).find("#name-input").val(),
                rows = [...($("#" + modal).find("#results")[0].rows)];

            $("#" + input).val(value.trim());
            $(".selected-row")[0].classList.remove("selected-row");
            $("#" + modal).find("input[type=text]").val("");
            $("#" + modal).find("button[name=search-btn]").trigger("click");

            if (input == "cond") {
                $("#des_cond").val(searchCond(value));
            } else if (input == "supplier") {
                $("#des_supplier").val(searchSupplier(value));
            } else if (input == "currency") {
                $("#des_currency").val(searchCurrency(value));
            }

            rows.forEach(row => row.style.display = "");
            $("#" + modal).modal("hide");
        } else {
            alert("Debes seleccionar un item");
        }
    }

    // PESTAÑAS
    function openTab(e, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("form-body");

        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");

        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tabName).style.display = "flex";
        e.target.className += " active";
    }

</script>