@{
    ViewData["Title"] = "Editar Usuario";
    ViewData["home"] = Session["home"];
}
<style>
    .modal-info .fas {
        font-size: 6em;
        padding: 5%;
    }
</style>
<header class="container-fluid">
    <div class="row">
        <div class="col-sm-2 header-left-side text-white">
            <i class="fas fa-bars icon-menu" id="icon-menu"></i>
            <a href="/Home/@ViewData["home"]">Profit Plus TM</a>
        </div>
        <div class="col-sm-10 header-right-side">
            <div class="user-active" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user icon-user"></i>
                <p class="mb-0">@ViewBag.user.Descrip</p>
            </div>
            <div style="width: 225px; text-align: center;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a style="text-align: center; text-decoration: none;" href="/Account/Logout">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid p-0" ng-app="EditUser" ng-controller="controller">
    <div class="dash-container" id="dash-container">
        <div class="dash-left-side border-right p-0" id="menu-left">
            <ul class="list-menu dropright">
                @{
                    foreach (var item in ViewBag.modules)
                    {
                        string disReport = item.ReportURL == "#" ? "disabled" : "";

                        <li class="menu-item" onclick="print(this)">
                            <i class="@item.Icon"></i>
                            <p class="mb-0 ml-3">@item.ModuleName</p>
                            <i class="fas fa-caret-up"></i>
                        </li>
                        <div class="my-dropdown">
                            @{
                                foreach (var elem in item.Options)
                                {
                                    <a class="dropdown-item" href="@elem.URL"><i class="@elem.Icon"></i> @elem.OptionName</a>
                                }
                            }
                            <a class="dropdown-item @disReport" href="@item.ReportURL"><i class="fas fa-file"></i>  Reportes</a>
                        </div>
                    }
                }
                <li class="menu-item">
                    <i class="fas fa-cog fa-spin"></i>
                    <p class="mb-0 ml-3">Configuración</p>
                </li>
            </ul>
        </div>
        <div class="dash-right-side">
            <div class="container-fluid">
                <h2 class="text-center mt-4">Editar Usuario</h2>
                <form action="" method="post" id="form" class="mt-5" onsubmit="return false;">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4">Nombre</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" autocomplete="false" ng-model="user.Descrip" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Usuario</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" autocomplete="false" autofocus ng-model="user.Username" disabled />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Clave</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control" autocomplete="false" ng-model="user.Password" disabled />
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" ng-model="user.Enabled">
                                <label class="form-check-label ml-3">Activo</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-4">Cédula</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" autocomplete="false" ng-model="user.CI" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" class="form-control" autocomplete="false" autofocus ng-model="user.Email" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4">Teléfono</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" autocomplete="false" ng-model="user.Phone" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-6">
                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-sm-4 col-form-label pt-0">Acceso a aplicativos</legend>
                                    <div class="col-sm-8">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" ng-model="user.IsAdm">
                                            <label class="form-check-label">Administrativo</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" ng-model="user.IsCon" ng-disabled="true">
                                            <label class="form-check-label">Contabilidad</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" ng-model="user.IsNom" ng-disabled="true">
                                            <label class="form-check-label">Nómina</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-sm-4 col-form-label pt-0">Acceso a módulos</legend>
                                    <div class="col-sm-8">
                                        <p ng-if="!user.IsAdm && !user.IsCon && !user.IsNom">No has seleccionado ningún aplicativo</p>
                                        <div class="form-check" ng-repeat="mod in modules" ng-show="showMod(mod)">
                                            <h5 ng-if="modules[$index - 1].Product != modules[$index].Product" class="text-center font-weight-bold">{{ prods[mod.Product] }}</h5>
                                            <input class="form-check-input" type="checkbox" ng-click="checked($event.target.checked, mod, 'M')" ng-checked="verifyChecked(true, mod.ID)" ng-disabled="mod.Options.length == 0">
                                            <label class="form-check-label">{{ mod.ModuleName }}</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-sm-6">
                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-sm-4 col-form-label pt-0">Acceso a opciones</legend>
                                    <div class="col-sm-8">
                                        <p ng-if="(!user.IsAdm && !user.IsCon && !user.IsNom) || modsChecked.length == 0">No has seleccionado ningún módulo</p>
                                        <div ng-repeat="mod in modsChecked" ng-show="user.IsAdm || user.IsCon || user.IsNom">
                                            <h5 class="text-center font-weight-bold">{{ mod.ModuleName }}</h5>
                                            <div class="form-check" ng-repeat="opt in mod.Options">
                                                <input class="form-check-input" type="checkbox" ng-click="checked($event.target.checked, opt, 'O')" ng-checked="verifyChecked(false, opt.ID)">
                                                <label class="form-check-label">{{ opt.OptionName }}</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" checked disabled />
                                                <label class="form-check-label">Reportes</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary" ng-click="sendUser()">Actualizar usuario</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Waiting -->
    <div class="modal fade modal-info" id="modalWaiting" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px; margin: 0 auto;">
            <div class="modal-content">
                @*<div class="modal-header"></div>*@
                <div class="modal-body" style="max-height: 450px; overflow-y: auto; padding: 45px;">
                    <div style="display: flex; justify-content: center;">
                        <i class="fas fa-spinner fa-spin" style="color: #01579b;"></i>
                    </div>
                    <h2 class="text-center">Procesando...</h2>
                </div>
                @*<div class="modal-footer"></div>*@
            </div>
        </div>
    </div>
    <!-- Modal Success -->
    <div class="modal fade modal-info" id="modalSuccess" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px; margin: 0 auto;">
            <div class="modal-content">
                @*<div class="modal-header"></div>*@
                <div class="modal-body" style="max-height: 450px; overflow-y: auto; padding: 45px;">
                    <div style="display: flex; justify-content: center;">
                        <i class="fas fa-check-circle" style="color: var(--green)"></i>
                    </div>
                    <h2 class="text-center">{{ successMessage }}</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="closeModal()" onclick="location.href = '/Usuarios/'">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Error -->
    <div class="modal fade modal-info" id="modalError" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 800px; margin: 0 auto;">
            <div class="modal-content">
                @*<div class="modal-header"></div>*@
                <div class="modal-body" style="max-height: 450px; overflow-y: auto; padding: 45px;">
                    <div style="display: flex; justify-content: center;">
                        <i class="fas fa-exclamation-triangle" style="color: var(--red)"></i>
                    </div>
                    <h2 class="text-center">Ha ocurrido un error</h2>
                    <p class="text-center">{{ errorMessage }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="closeModal()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/angular-min.js"></script>
<script>
    var app = angular.module("EditUser", []);
    var user = @Html.Raw(Json.Encode(ViewBag.userEdit));
    var modules = @Html.Raw(Json.Encode(ViewBag.allModules));
    var btn = document.getElementById("icon-menu");
    var menu = document.getElementById("menu-left");
    var node = null;

    console.log(user);
    console.log(modules);

    app.controller("controller", function ($scope, $http) {

        $scope.user = user;
        //$scope.user.Password = "NOVERASLACLAVE"
        $scope.modules = modules;
        $scope.modsChecked = [];
        $scope.optsChecked = [];

        $scope.prods = {
            "ADM": "Administrativo",
            "CON": "Contabilidad",
            "NOM": "Nómina"
        };

        for (var mod of user.UserModules) {
            var item = modules.find(m => m.ID == mod.ModuleID);
            $scope.modsChecked.push(item);
            
            for (var opt of item.Options) {
                var elem = user.UserOptions.find(o => o.OptionID == opt.ID);

                if (elem != null) {
                    $scope.optsChecked.push(opt);
                }
            }
        }

        console.log($scope.modsChecked);
        console.log($scope.optsChecked);

        $scope.showMod = function (mod) {

            switch (mod.Product) {
                case "ADM":
                    return $scope.user.IsAdm;
                case "CON":
                    return $scope.user.IsCon;
                case "NOM":
                    return $scope.user.IsNom;
            }
        }

        $scope.verifyChecked = function (flag, id) {

            var obj;

            if (flag)
                obj = $scope.user.UserModules.find(um => um.ModuleID == id);
            else
                obj = $scope.user.UserOptions.find(uo => uo.OptionID == id);

            if (obj != null)
                return true;
            else
                return false;
        }

        $scope.checked = function (value, item, type) {

            if (value) {
                if (type == 'M') {
                    $scope.modsChecked.push(item);
                } else if (type == 'O') {
                    $scope.optsChecked.push(item);
                }
            } else {
                if (type == 'M') {
                    var ind = $scope.modsChecked.indexOf(item);
                    $scope.modsChecked.splice(ind, 1);
                    $scope.optsChecked = $scope.optsChecked.filter(o => o.ModuleID != item.ID);
                } else if (type == 'O') {
                    var ind = $scope.optsChecked.indexOf(item);
                    $scope.optsChecked.splice(ind, 1);
                }
            }
        }

        $scope.sendUser = function () {

            if ($("#form")[0].checkValidity()) {

                if (!$scope.user.IsAdm && !$scope.user.IsCon && !$scope.user.IsNom) {
                    alert("Debes seleccionar al menos uno de los aplicativos");
                } else {
                    if ($scope.modsChecked.length == 0) {
                        alert("Debes seleccionar al menos un módulo");
                    } else if ($scope.user.Password.length < 8) {
                        alert("La clave debe tener una longitud mínima de 8 caracteres");
                    } else {

                        $("#form input").change();
                        $("#modalWaiting").modal("show");

                        if ($scope.user.CI == "")
                            $scope.user.CI = null;
                        if ($scope.user.Phone == "")
                            $scope.user.Phone = null;

                        $scope.user.UserModules = $scope.modsChecked.map(function (m) {
                            var obj = {
                                UserID: $scope.user.ID,
                                ModuleID: m.ID
                            };

                            return obj;
                        });
                        $scope.user.UserOptions = $scope.optsChecked.map(function (o) {
                            var obj = {
                                UserID: $scope.user.ID,
                                OptionID: o.ID
                            };

                            return obj;
                        });

                        console.log($scope.user);

                        var req = {
                            method: 'POST',
                            url: '/api/ProfitTMApi/EditUser/',
                            data: $scope.user,
                            headers: {
                                'Content-Type': 'application/json'
                            },
                        }

                        $http(req).then(function (response) {

                            console.log(response.data);
                            var res = response.data;

                            if (res.Status == "OK") {
                                $("#modalSuccess").modal("show");
                                $scope.successMessage = "El usuario se ha modificado con éxito";
                            } else {
                                $("#modalError").modal("show");
                                $scope.errorMessage = res.Message;
                            }

                        });
                    }
                }
            }
        }

        $scope.closeModal = function () {
            $("#modalWaiting").modal("hide");
        }
    });

    btn.addEventListener("click", hide);

    function print(elem) {

        $(".my-dropdown").slideUp();

        if (node != null) {
            $(node).removeClass("selected");
            $(node).children("i.fa-caret-up").hide();
        }

        $(elem).addClass("selected");

        if (node != elem) {

            $(elem).next().slideDown();
            $(elem).next().css("display", "flex");
            $(elem).next().css("flex-direction", "column");
            $(elem).children("i.fa-caret-up").show();
            node = elem;

        } else {
            $(elem).removeClass("selected");
            $(elem).children("i.fa-caret-up").hide();
            node = null;
        }
    }

    function hide() {

        if (node != null) {
            $(node).removeClass("selected");
            node = null;
        }

        menu.classList.toggle("active");

        $(".my-dropdown").slideUp();
        $("i.fa-caret-up").hide();
    }

</script>