@{
    ViewData["Title"] = "Dashboard";
    ViewData["home"] = Session["HOME"];
}
<style>
    @@media (max-width: 767px) {
        .header-right-side {
            display: none;
        }
        .dash-left-side {
            width: 100%;
            height: auto;
            max-height: 100%;
            position: absolute;
            z-index: 10;
            border: 0 !important;
            overflow-y: auto;
        }
        .list-menu {
            margin: 0;
            display: none;
        }
        .menu-item {
            padding: 20px;
        }
    }
</style>
<div class="container-fluid p-0">
    <div class="row dash-container" id="dash-container" ng-app="DashboardNomi" ng-controller="controller">
        <div class="col-md-4 col-xl-3 col-xxl-2 dash-left-side border-right p-0" id="menu-left">
            <ul class="list-menu dropright">
                @{
                    foreach (var item in ViewBag.modules)
                    {
                        string disReport = item.ReportURL == "#" ? "disabled" : "";

                        <li class="menu-item" onclick="print(this)">
                            <i class="@item.Icon"></i>
                            <p class="mb-0 ml-3">@item.ModuleName</p>
                            <i class="fas fa-caret-up"></i>
                        </li>
                        <div class="my-dropdown">
                            @{
                                bool first_t = true;
                                foreach (var elem in item.Options)
                                {
                                    string type = elem.OptionType.Trim();
                                    if (type == "T")
                                    {
                                        if (first_t)
                                        {
                                            <p class="title-opt"><i class="fas fa-table"></i> Tablas</p>
                                            first_t = false;
                                        }

                                        string disabled = elem.Enabled ? "" : "disabled";
                                        <a class="dropdown-item @disabled" href="@elem.URL" onclick="$('#modalLoading').modal('show');"><i class="@elem.Icon"></i> @elem.OptionName</a>
                                    }
                                }
                            }
                            @{
                                bool first_p = true;
                                foreach (var elem in item.Options)
                                {
                                    string type = elem.OptionType.Trim();
                                    if (type == "P")
                                    {
                                        if (first_p)
                                        {
                                            <p class="title-opt"><i class="fas fa-table"></i> Procesos</p>
                                            first_p = false;
                                        }

                                        string disabled = elem.Enabled ? "" : "disabled";
                                        <a class="dropdown-item @disabled" href="@elem.URL" onclick="$('#modalLoading').modal('show');"><i class="@elem.Icon"></i> @elem.OptionName</a>
                                    }
                                }
                            }
                            <a class="dropdown-item @disReport" href="@item.ReportURL" style="border-top: solid 1px #a6a6a6;"><i class="fas fa-file"></i>  Reportes</a>
                        </div>
                    }
                }
                <li class="menu-item" onclick="print(this)">
                    <i class="fas fa-cog fa-spin"></i>
                    <p class="mb-0 ml-3">Configuración</p>
                    <i class="fas fa-caret-up"></i>
                </li>
                <div class="my-dropdown">
                    <a class="dropdown-item" href="/Usuarios/Index"><i class="fas fa-user"></i> Usuarios</a>
                    <a class="dropdown-item" href="/Conexiones/Index"><i class="fas fa-network-wired"></i> Conexiones</a>
                </div>
                <li class="menu-item border-top" onclick="location.href = '/Account/Logout'">
                    <i class="fas fa-power-off"></i>
                    <p class="mb-0 ml-3">Cerrar Sesión</p>
                </li>
            </ul>
        </div>
        <div class="col-md-8 col-xl-9 col-xxl-10 dash-right-side">
            <div class="container-fluid mt-3"></div>
        </div>
    </div>
</div>
<script src="~/Scripts/angular-min.js"></script>
<script>
    var app = angular.module("DashboardNomi", []);
    var capitalize = str => str.substring(0, 1).toLocaleUpperCase() + str.substring(1).toLocaleLowerCase();
    var btn = document.getElementById("icon-menu");
    var header = document.getElementById("header-left");
    var menu = document.getElementById("menu-left");
    var responsive = screen.availWidth <= 767 ? true : false;
    var node = null;

    var fec_d = new Date(), fec_h = new Date();
    fec_d.setDate(1);
    fec_d.setHours(0);
    fec_d.setMinutes(0);
    fec_d.setSeconds(0);

    var fecha_d = fec_d.toLocaleDateString().replaceAll("/", "-");
    var fecha_h = fec_h.toLocaleDateString().replaceAll("/", "-");

    $(".dash-right-side").on("mousedown", function (event) {
        event.preventDefault();
    });

    $(".dash-right-side").on("contextmenu", function (event) {
        event.preventDefault();
    });

    app.controller("controller", function ($scope, $http) {

        if (responsive) {
            btn.addEventListener("click", slide);
        } else {
            btn.addEventListener("click", hide);
            $(".menu-item.border-top").attr('style', 'display: none;');
        }

        window.addEventListener("resize", function () {
            responsive = screen.availWidth <= 767;

            if (responsive) {
                btn.removeEventListener("click", hide);
                btn.addEventListener("click", slide);
                $(".menu-item.border-top").removeAttr('style', 'display: none;');
                $("#header-left.active").removeClass("active");
                $("#menu-left.active").removeClass("active");
            } else {
                btn.removeEventListener("click", slide);
                btn.addEventListener("click", hide);
                $("ul.list-menu").removeAttr('style');
                $(".menu-item.border-top").attr('style', 'display: none;');
            }
        });

    });

    function print(elem) {

        let item_active = $("#menu-left.active").length == 1;
        $(".my-dropdown").slideUp();

        if (node != null) {
            $(node).removeClass("selected");
            $(node).children("i.fa-caret-up").hide();
        }

        $(elem).addClass("selected");

        if (node != elem) {

            $(elem).next().slideDown();
            $(elem).next().css("display", "flex");
            $(elem).next().css("flex-direction", "column");
            $(elem).children("i.fa-caret-up").show();
            node = elem;

            if (item_active) {
                $("#header-left").removeClass("active");
                $("#menu-left").removeClass("active");
            }

        } else {

            $(elem).removeClass("selected");
            $(elem).children("i.fa-caret-up").hide();
            node = null;

        }
    }

    function hide() {

        if (node != null) {
            $(node).removeClass("selected");
            node = null;
        }

        header.classList.toggle("active");
        menu.classList.toggle("active");

        $(".my-dropdown").slideUp();
        $("i.fa-caret-up").hide();
    }

    function slide() {
        $(".list-menu").slideToggle()
    }

</script>