@{
    ViewData["Title"] = "Dashboard";
    ViewData["home"] = Session["home"];
}
<style>
    .highcharts-figure, .highcharts-data-table table {
        min-width: 320px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    .highcharts-credits {
        display: none;
    }

    .row.mt-3 {
        align-items: center;
    }
</style>
<header class="container-fluid">
    <div class="row" style="height: 60px;">
        <div class="col-sm-2 header-left-side text-white">
            <i class="fas fa-bars icon-menu" id="icon-menu"></i>
            <a href="/Home/@ViewData["home"]">Profit Plus TM</a>
        </div>
        <div class="col-sm-10 header-right-side">
            <div class="user-active" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user icon-user"></i>
                <p class="mb-0">@ViewBag.user</p>
            </div>
            <div style="width: 225px; text-align: center;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a style="text-align: center; text-decoration: none;" href="/Account/Logout">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid p-0">
    <div class="dash-container" id="dash-container">
        <div class="dash-left-side border-right p-0" id="menu-left">
            <ul class="list-menu dropright">
                @{
                    foreach (var item in ViewBag.options)
                    {
                        string disTable = item.UrlTable == "#" ? "disabled" : "";
                        string disProcess = item.UrlProcess == "#" ? "disabled" : "";
                        string disReport = item.UrlReport == "#" ? "disabled" : "";

                        <li class="menu-item" onclick="print(this)">
                            <i class="@item.Icon"></i>
                            <p class="mb-0 ml-3">@item.Name</p>
                        </li>
                        <div class="myDropdown">
                            <a class="dropdown-item @disTable" href="@item.UrlTable"><i class="fas fa-table"></i>  Tablas</a>
                            <a class="dropdown-item @disProcess" href="@item.UrlProcess"><i class="fas fa-sync-alt"></i>  Procesos</a>
                            <a class="dropdown-item @disReport" href="@item.UrlReport"><i class="fas fa-file"></i>  Reportes</a>
                        </div>
                    }
                }
                <li class="menu-item">
                    <i class="fas fa-cog fa-spin"></i>
                    <p class="mb-0 ml-3">Configuración</p>
                </li>
            </ul>
        </div>
        <div class="dash-right-side">
            <div class="container-fluid" style="padding: 5px 40px">
                <h2 class="mt-2">Estadísticas</h2>
                <div class="row mt-3">
                    <div class="col-sm-3 direct">
                        <div class="col-md-12 shadow rounded">
                            <h4>Inventario</h4>
                            <i class="fas fa-box"></i>
                            <a href="Inventario">Ir a Inventario <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-3 direct">
                        <div class="col-md-12 shadow rounded">
                            <h4>Ventas</h4>
                            <i class="fas fa-dollar-sign"></i>
                            <a href="Ventas">Ir a Ventas <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-3 direct">
                        <div class="col-md-12 shadow rounded">
                            <h4>Compras</h4>
                            <i class="fas fa-tags"></i>
                            <a href="Compras">Ir a Compras <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-3 direct">
                        <div class="col-md-12 shadow rounded">
                            <h4>Configuración</h4>
                            <i class="fas fa-cog fa-spin"></i>
                            <a href="#">Ir a Configuración <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <hr />
                <h2 class="mt-2 text-center m-4">TOP 5 Articulos mas vendidos</h2>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in @ViewBag.mostSelledProds)
                                    {
                                        <tr>
                                            <td>@item.ID</td>
                                            <td name="nameSelled">@item.Name</td>
                                            <td name="stockSelled">@item.Stock</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        @*<div id="piechart"></div>*@
                        <figure class="highcharts-figure">
                            <div id="container-msp"></div>
                            @*<p class="highcharts-description">
                                Pie charts are very popular for showing a compact overview of a
                                composition or comparison. While they can be harder to read than
                                column charts, they remain a popular choice for small datasets.
                            </p>*@
                        </figure>
                    </div>
                </div>
                <h2 class="mt-2 text-center m-4">TOP 5 Articulos mas comprados</h2>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        @*<div id="columnchart"></div>*@
                        <figure class="highcharts-figure">
                            <div id="container-mpp"></div>
                            @*<p class="highcharts-description">
                                Pie charts are very popular for showing a compact overview of a
                                composition or comparison. While they can be harder to read than
                                column charts, they remain a popular choice for small datasets.
                            </p>*@
                        </figure>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in @ViewBag.mostPurchasedProds)
                                    {
                                        <tr>
                                            <td>@item.ID</td>
                                            <td name="namePurchased">@item.Name</td>
                                            <td name="stockPurchased">@item.Stock</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <h2 class="mt-2 text-center m-4">TOP 5 Clientes con mas ventas</h2>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in @ViewBag.mostActiveClients)
                                    {
                                        <tr>
                                            <td>@item.ID</td>
                                            <td name="nameActive">@item.Name</td>
                                            <td name="amountActive">@item.Amount.ToString("N", ViewBag.formato)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        @*<div id="donutchart"></div>*@
                        <figure class="highcharts-figure">
                            <div id="container-mac"></div>
                            @*<p class="highcharts-description">
                                Pie charts are very popular for showing a compact overview of a
                                composition or comparison. While they can be harder to read than
                                column charts, they remain a popular choice for small datasets.
                            </p>*@
                        </figure>
                    </div>
                </div>
                <h2 class="mt-2 text-center m-4">TOP 5 Clientes mas morosos</h2>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        @*<div id="barchart"></div>*@
                        <figure class="highcharts-figure">
                            <div id="container-mmc"></div>
                            @*<p class="highcharts-description">
                                Pie charts are very popular for showing a compact overview of a
                                composition or comparison. While they can be harder to read than
                                column charts, they remain a popular choice for small datasets.
                            </p>*@
                        </figure>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Saldo Pendiente</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in @ViewBag.mostMorousClients)
                                    {
                                        <tr>
                                            <td>@item.ID</td>
                                            <td name="nameMorous">@item.Name</td>
                                            <td name="amountMorous">@item.Amount.ToString("N", ViewBag.formato)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <h2 class="mt-2 text-center m-4">TOP 5 Proveedores con mas compras</h2>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in @ViewBag.mostActiveSuppliers)
                                    {
                                        <tr>
                                            <td>@item.ID</td>
                                            <td name="nameActiveS">@item.Name</td>
                                            <td name="amountActiveS">@item.Amount.ToString("N", ViewBag.formato)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        @*<div id="rowchart"></div>*@
                        <figure class="highcharts-figure">
                            <div id="container-mas"></div>
                            @*<p class="highcharts-description">
                                Pie charts are very popular for showing a compact overview of a
                                composition or comparison. While they can be harder to read than
                                column charts, they remain a popular choice for small datasets.
                            </p>*@
                        </figure>
                    </div>
                </div>
                <h2 class="mt-2 text-center m-4">TOP 5 Proveedores con mas saldo pendiente</h2>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        @*<div id="roundchart"></div>*@
                        <figure class="highcharts-figure">
                            <div id="container-mms"></div>
                            @*<p class="highcharts-description">
                                Pie charts are very popular for showing a compact overview of a
                                composition or comparison. While they can be harder to read than
                                column charts, they remain a popular choice for small datasets.
                            </p>*@
                        </figure>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Saldo Pendiente</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in @ViewBag.mostMorousSuppliers)
                                    {
                                        <tr>
                                            <td>@item.ID</td>
                                            <td name="nameMorousS">@item.Name</td>
                                            <td name="amountMorousS">@item.Amount.ToString("N", ViewBag.formato)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var capitalize = str => str.substring(0, 1).toLocaleUpperCase() + str.substring(1).toLocaleLowerCase();
    var btn = document.getElementById("icon-menu");
    var menu = document.getElementById("menu-left");
    var node = null;

    btn.addEventListener("click", hide);

    function print(elem) {
        var elems = document.getElementsByClassName("myDropdown");

        for (var item of elems) {
            $(item).animate({ width: 'hide' });
        }

        if (node != null) {
            node.classList.remove("selected");
        }

        elem.classList.add("selected");

        if (node != elem) {

            $(elem).next().animate({ width: 'show' });
            $(elem).next().css("display", "flex");
            $(elem).next().css("flex-direction", "column");

            menu.classList.add("active");
            node = elem;

        } else {

            node.classList.remove("selected");
            menu.classList.remove("active");
            node = null;

        }
    }

    function hide() {
        menu.classList.toggle("active");

        var elems = document.getElementsByClassName("myDropdown");

        for (var item of elems) {
            $(item).animate({ width: 'hide' });
        }
    }
</script>

@* GRAFICA ARTICULOS VENDIDOS *@
<script>

    var productos = @Html.Raw(Json.Encode(@ViewBag.mostSelledProds));

    var objects = productos.map(function (x) {
        return {
            name: capitalize(x.Name),
            y: x.Stock
        };
    });

    Highcharts.setOptions({
        colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
            return {
                radialGradient: {
                    cx: 0.5,
                    cy: 0.3,
                    r: 0.7
                },
                stops: [
                    [0, color],
                    [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        })
    });

    Highcharts.chart('container-msp', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Articulos vendidos'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y} unds'
                },
            }
        },
        series: [{
            name: 'Porcentaje',
            colorByPoint: true,
            data: objects
        }]
    });

</script>
@* GRAFICA ARTICULOS COMPRADOS *@
<script>

    var productos = @Html.Raw(Json.Encode(@ViewBag.mostPurchasedProds));

    var objects = productos.map(function (x) {
        return {
            name: capitalize(x.Name),
            y: x.Stock
        };
    });

    Highcharts.chart('container-mpp', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Articulos comprados'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y} unds'
                },
            }
        },
        series: [{
            name: 'Porcentaje',
            colorByPoint: true,
            data: objects
        }]
    });

</script>
@* GRAFICA CLIENTES VENTAS *@
<script>

    var clientes = @Html.Raw(Json.Encode(@ViewBag.mostActiveClients));

    var objects = clientes.map(function (x) {
        return {
            name: capitalize(x.Name),
            y: x.Amount
        };
    });

    Highcharts.chart('container-mac', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Clientes con mas ventas'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y}'
                },
            }
        },
        series: [{
            name: 'Porcentaje',
            colorByPoint: true,
            data: objects
        }]
    });

</script>
@* GRAFICA CLIENTES MOROSOS *@
<script>

    var clientes = @Html.Raw(Json.Encode(@ViewBag.mostMorousClients));

    var objects = clientes.map(function (x) {
        return {
            name: capitalize(x.Name),
            y: x.Amount
        };
    });

    Highcharts.chart('container-mmc', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Clientes mas morosos'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y}'
                },
            }
        },
        series: [{
            name: 'Porcentaje',
            colorByPoint: true,
            data: objects
        }]
    });

</script>
@* GRAFICA PROVEEDORES COMPRAS *@
<script>

    var proveedores = @Html.Raw(Json.Encode(@ViewBag.mostActiveSuppliers));

    var objects = proveedores.map(function (x) {
        return {
            name: capitalize(x.Name),
            y: x.Amount
        };
    });

    Highcharts.chart('container-mas', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Proveedores con mas compras'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y}'
                },
            }
        },
        series: [{
            name: 'Porcentaje',
            colorByPoint: true,
            data: objects
        }]
    });

</script>
@* GRAFICA PROVEEDORES SALDO PENDIENTE *@
<script>

    var proveedores = @Html.Raw(Json.Encode(@ViewBag.mostMorousSuppliers));

    var objects = proveedores.map(function (x) {
        return {
            name: capitalize(x.Name),
            y: x.Amount
        };
    });

    Highcharts.chart('container-mms', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Proveedores con mas saldo pendiente'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y}'
                },
            }
        },
        series: [{
            name: 'Porcentaje',
            colorByPoint: true,
            data: objects
        }]
    });

</script>